@import '../../../../../../../styles/styles';

/* ..................... */

.wrap-logo {
  width: 60px;
    height: 44px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
}

.wrap-logo:hover .icon-logo {
  color: $accent-color;
}

.wrap-logo:hover  {
  border: 1px solid white;
    border-radius: 2px;
}

.icon-logo {
  color: white;  
  font-size: 15px;
}

