<a [routerLink]="['/houseplans']" title="Thousands of Houseplans to Every Taste"
  class="wrap-houseplansection-page-main__global">
  <div class="gridcontainer-houseplansection-page-main__global">

    <div class="name-houseplansection">Houseplans & Floorplans</div>

    <div class="best-price-houseplansection">Best Price</div>

    <div class="foto-zeroenergyhome-houseplansection">
      <img src="/assets/assets_Global/image_Global/zeroenergyhome_140x80.png" alt="Houseplans Zero Energy Homes"
        aria-label="Houseplans zero energy homes">
    </div>

    <div class="title-zeroenergyhome-houseplansection">Zero Energy Homes</div>

    <div class="foto-modular-houseplansection"><img src="/assets/assets_Global/image_Global/modularhomes_140x80.png"
        alt="House & floor plans timber homes" aria-label="House & floor plans timber homes">
    </div>

    <div class="title-modular-houseplansection">Modular Houses</div>

    <div class="foto-bricks-houseplansection">
      <img src="/assets/assets_Global/image_Global/brickbuildings_140x150.png" alt="Houseplan for modular home"
        aria-label="Houseplan for modular home">
    </div>

    <div class="title-bricks-houseplansection">Brick buildings</div>

    <div class="foto-timber-houseplansection"><img src="/assets/assets_Global/image_Global/timberhomes_140x80.jpg"
        alt="House & floor plans timber homes" aria-label="House & floor plans timber homes"></div>

    <div class="title-timber-houseplansection">Timber Homes</div>

    <div class="description-houseplansection">Thousands of Houseplans to Every Taste</div>

    <div class="seemore-houseplansection">
      <span>See more ></span>
    </div>

  </div>
</a>


