<div class="wrap-searchbar-center-header__global">

  <div id="searchbar-center-header__global" title="We're working on this section. Check back soon for updates">

    <div class="wrap-sorting">    
      <div class="sorting">
        <select class="dropdown-sorting" name="format">
          <option class="main-item-sorting" value="popular">All Departments</option>
          <option class="item-sorting" value="reviews">Houseplans</option>
          <option class="item-sorting" value="least-sqft">Architects</option>
          <option class="item-sorting" value="most-sqft">Permits</option>
          <option class="item-sorting" value="lowest-price">Builders</option>
          <option class="item-sorting" value="highest-price">Suppliers</option>
          <option class="item-sorting" value="highest-price">Land Experts</option>
          <option class="item-sorting" value="highest-price">Home Store</option>
          <option class="item-sorting" value="highest-price">Financing</option>
        </select>
      </div>    
    </div>



    <div id="input_searchbar_main_header">
      <input id="input" type="search" autocomplete="off" spellcheck="false" role="combobox" aria-controls="matches"
        placeholder="...Test Version - In Online Development" aria-expanded="false" aria-live="polite">    
      <button id="foto_search_button" class="icon-foto-search-button" title="Reverse image search">
        <i class="material-icons">photo_camera</i>
      </button>

    </div>
   
    <div id="lens_searchbar_main_header">
      <button class="lens_search_button">
        <i class="material-icons   icon-lens-search-button">search</i>
      </button>
    
    </div>
  </div>
</div>