@import '../../../../../../../styles/styles';

/* ..................... */

.wrap-searchbar-center-header__global {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

#searchbar-center-header__global {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 36px;
  background-color: $background-color;
  margin: 0 20px;  
  width: auto;
  justify-content: flex-start;
  border: 2px solid #232F3F;  
  border-radius: 5px;  
}

#searchbar-center-header__global:hover {
  border: 2px solid #FFA523;  
  border-radius: 5px;
}

.wrap-sorting {
  margin-left: auto;
  display: flex;
  background: #D4D4D4;  
}

.sorting {
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #D4D4D4;
  border-radius: 4px;
  color: #221f1f;
  cursor: pointer;
  display: inline-flex;
  max-width: 100%;
  overflow: hidden;
  padding: 0 4px;
  align-items: center;
  text-align: left;
  background: #D4D4D4;
}

.sorting:hover {
  border: 2px solid;
  border-color: #FFA523;
  border-radius: 5px;
}

.dropdown-sorting {
  border: none;
  cursor: pointer;
  background: #D4D4D4;
  font-size: 12px;
  padding: 0 5px;
}

.dropdown-sorting:focus {
  outline: none;
}

.item-sorting {
  font-size: 14px;  
  background: white;
}

#input_searchbar_main_header {
  display: flex;
  flex-grow: 1;  
  max-width: 100%;
  align-items: center;
  margin-left: 10px;
  min-width: 400px;
}

#input_searchbar_main_header input[type="search"] {
  display: flex;
  flex-grow: 1;
  border: none;
  background: none;
  outline: none;
  font-size: 14px !important;  
}

.icon-voice-search-button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.icon-voice-search-button:hover {
  color: $accent-color;
}

.icon-voice-search-button i {
  font-size: 20px !important;
  color: $light-color;
}

.icon-voice-search-button i:hover {
  color: $accent-color;
}

.icon-foto-search-button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
}

.icon-foto-search-button i {
  font-size: 20px !important;
  color: $light-color;
}

.icon-foto-search-button i:hover {
  color: $accent-color;
}

#lens_searchbar_main_header {
  background: #F3A847;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

#lens_searchbar_main_header:hover {
  background: #ff9710;
}

.lens_search_button {
  flex-shrink: 0;
  border: none;
  background: none;
  padding: 0px;
  outline: none;
  cursor: pointer;
}

.icon-lens-search-button {
  color: black;
  background: none;
  outline: none;
  border: none;
  font-size: 24px;
  text-align: center;
  padding: 0 10px;
  cursor: pointer;
}