@import '../../../../../styles/styles';

/* ..................... */

#content-container {
  color: white;
  background-color: #E3E6E6;
  margin: 0;
  padding: 0;
  height: 300px;
  width: 100%;
  padding-top: 10px;
  display: flex;
  /* Добавить flexbox */
  justify-content: center;
  /* Центрировать по горизонтали */
  align-items: center;
  /* Центрировать по вертикали */
  text-align: center;
  /* Выравнивание текста по центру */
}

#content-container p {
  font-size: 30px;
}
