<div class="services-submenu-header">

  <div class="content-submenu">

    <div class="option-submenu">
      <div class="name-option-submenu">All Services</div>
    </div>

    <div class="buttonclose-submenu" (click)="closeMenu()">
      <div class="icon-buttonclose-submenu material-icons">close</div>
    </div>

    <div class="divider-submenu">
      <div class="name-divider-submenu"></div>
    </div>

    <div class="sections-submenu">

      <div class="section-submenu" routerLink="/platform-analytics">
        <div class="icon-section-submenu material-icons">insights</div>
        <div class="name-section-submenu">Platform Analytics</div>
      </div>

      <div class="section-submenu"  routerLink="/partnerships">
        <div class="icon-section-submenu material-icons">group</div>
        <div class="name-section-submenu">Partnerships</div>
      </div>

      <div class="section-submenu" routerLink="/investorcenter">
        <div class="icon-section-submenu material-icons">attach_money</div>
        <div class="name-section-submenu">Investment</div>
      </div>

      <div class="section-submenu" routerLink="/partner-statistics">
        <div class="icon-section-submenu material-icons">bar_chart</div>
        <div class="name-section-submenu">Your Partner Statistics</div>
      </div>

      <div class="section-submenu" routerLink="/help">
        <div class="icon-section-submenu material-icons">toggle_on</div>
        <div class="name-section-submenu">Customer Enablement</div>
      </div>

      <div class="section-submenu" routerLink="/subcriptions">
        <div class="icon-section-submenu material-icons">verified</div>
        <div class="name-section-submenu">Premium Subscription</div>    
      </div>

    </div>

  </div>