<div class="page-container">

  <!-- Header -->
  <header id="header-container">
    <app-header-global></app-header-global>
  </header>

  <!-- Submenu partnerships -->
  <nav id="nav-container">
    <app-partnerships-submenu-global></app-partnerships-submenu-global>
  </nav>

  <!-- Сontent container -->
  <main id="content-container">
    <div class="">
      <a routerLink="/">Return to Home</a>
      <p>... Permitting and Compliance Consultants for Construction Documentation and Occupancy
        <br />Terms in Development!
      </p>

      <div class="temporary-text">
        For collaboration inquiries, please write to us or contact us at:

        <div class="temporary-email">
          housebuildhub&#64;gmail.com
        </div>

      </div>
    </div>

  </main>

  <!-- Footer -->
  <footer id="footer-container">
    <!-- <app-footer-global></app-footer-global>-->
  </footer>

</div>