<div class="datahome-grid">

  <div class="datahome-grid-item">
    <div class="name-datahome-grid-item">Sq.Ft.Total
      <div class="value-datahome-grid-item">{{ sqfttotal_Houseplans }}</div>
    </div>
  </div>

  <div class="datahome-grid-item">
    <div class="name-datahome-grid-item">Wide
      <div class="value-datahome-grid-item">{{ wide_Houseplans }}</div>
    </div>
  </div>
  <div class="datahome-grid-item">
    <div class="name-datahome-grid-item">Deep
      <div class="value-datahome-grid-item">40"8"</div>
    </div>
  </div>

  <div class="datahome-grid-item">
    <div class="name-datahome-grid-item">Basement
      <div class="value-datahome-grid-item">&#x2714;</div>
    </div>
  </div>

  <div class="datahome-grid-item">
    <div class="name-datahome-grid-item">Story
      <div class="value-datahome-grid-item">2</div>
    </div>
  </div>

  <div class="datahome-grid-item">
    <div class="name-datahome-grid-item">Bed
      <div class="value-datahome-grid-item">3</div>
    </div>
  </div>

  <div class="datahome-grid-item">
    <div class="name-datahome-grid-item">Bath
      <div class="value-datahome-grid-item">2</div>
    </div>
  </div>

  <div class="datahome-grid-item">
    <div class="name-datahome-grid-item">Garage
      <div class="value-datahome-grid-item">-</div>
    </div>
  </div>

</div>
