@import '../../../../../styles/styles';

/* ..................... */


#wrapper-header__global {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%; 
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
  background-color: white;

}

#top-header__global {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}



#center-header__global { 
  
}

#bottom-header__global {
  height: 60px;
  
}
