<!-- displayviews-page-catalog-houseplans.component.html -->
<div id="container-displayviews">
  <div class="wrap-displayviews">
    <div class="displayviews">

      <!-- Используйте handleViewChange вместо setView -->
      <div class="horizontal-view mat-icon" >
        <mat-icon><span class="material-symbols-outlined">menu</span></mat-icon>
      </div>

      <div class="view-switcher">
      </div>

      <!-- Используйте handleViewChange вместо setView -->
      <div class="vertical-view mat-icon" >
        <mat-icon><span class="material-symbols-outlined">apps</span></mat-icon>
      </div>

    </div>
  </div>
</div>
