@import '../../../../../../../styles/styles';

.name-singinmodal {
  margin-top: 2px;
}



.text-name-singinmodal {
  font-size: 30px;
  font-weight: 400;
  color: blue;
}
.ad-text-name-singinmodal {
  font-size: 14px;
  font-weight: 500;
  color: black

}
