<div id="wrap-stateselect-personalhelpwidget-page-main__global">

  <div class="stateselect-global">

    <div class="text-stateselect">
      <p>Choose Your Home Location</p>
    </div>

    <div class="search-stateselect">

      <i class="material-icons icon-geolocation">location_on</i>

      <input id="input" type="search" autocomplete="off" spellcheck="false" role="combobox" aria-controls="matches"
        placeholder="- Select State -" aria-expanded="false" aria-live="polite">

        <i class="material-icons expand-stateselect">expand_more</i>



    </div>


  </div>

</div>
