@import '../../../../../../../styles/styles';

#wrap-accountcreate-personalhelpwidget-page-main__global {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 10px;
}

.accountcreate-global {
  border-radius: 8px;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid rgb(222, 222, 222);
  box-shadow: 0 2px 2px 0 #eef4f5;
}

.accountcreate-global:hover {
  background-color: #eef4f5;
}

.text-accountcreate {
  font-size: 14px;
  color: $color;
  border: none;
  background-color: inherit;
  cursor: pointer;
}


