<div class="submenu-container">

  <div class="name-submenu">
    <div class="main-name-submenu">Investment Opportunities</div>
    <div class="adtext-name-submenu">Invest and Earn | <span class="free-registration">Join Us and Acquire Corporate Rights</span>
    </div>
  </div>


  <div class="wrap-category-submenu">
    <div class="category-submenu">
      <ul>

        <li class="start-item-submenu" routerLink="/investing-about-us" routerLinkActive="active-link">Какие проблеми клиентов решаем</li>

        <li class="item-submenu" routerLink="/investing-goals" routerLinkActive="active-link">Our Goals</li>

        <li class="item-submenu" routerLink="/investing-team" routerLinkActive="active-link">Team</li>

        <li class="item-submenu" routerLink="/investing-contact-us" routerLinkActive="active-link">Contact Us</li>


        <li class="item-develop-submenu" routerLink="/investing-projects" routerLinkActive="active-link">Projects for Investment
        </li>

        <li class="item-develop-submenu" routerLink="/investing-financing-terms" routerLinkActive="active-link">Investment Terms
        </li>


        <li class="item-develop-submenu" routerLink="/investing-information" routerLinkActive="active-link">Investor Information
        </li>

        <li class="item-develop-submenu" routerLink="/investing-financial-reports" routerLinkActive="active-link">Financial Repots</li>



      </ul>
    </div>
  </div>

</div>
