@import '../../../../../../../styles/styles';

viewgeomap-productcard-houseplans {}



#viewgeomap-houseplan {
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  border: 1px solid $border-accent-color;
  border-radius: 2px;
  color: $text-color;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: green;
  border: solid 1px green;
}

#viewgeomap-houseplan:hover {
  color: green;
  border: solid 1px green;
}

#viewgeomap-houseplan::before {
  content: "Geo Mapping";
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s;
  top: 1px
}

#viewgeomap-houseplan::after {
  content: "Geo Map >>> ";
  position: relative;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  top: 1px;
}

#viewgeomap-houseplan:hover::before {
  opacity: 0;
}

#viewgeomap-houseplan:hover::after {
  opacity: 1;
}
