
/* LIGHT THEME */

/* Primary colors */
$color: #333333;
$light-color: #999999;
$grey-light-color: #8b8a8a;
$black-color: #000000;



/* Text-color */
$text-color: #333333;;
$text-light-color: #706f6f;

/* Background-color */
$background-color: #fff;





/* State colors */
$accent-color: #E35300;
$error-color: #fff;;
$success-color: #fff;
$warning-color: #fff;
$info-color: #fff;
$link-color: #3f51b5;

/* Breadcrumb-color */
$breadcrumb-color: green;

/* Border-color */
$border-color: #706f6f;
$border-light-color: #f3f3f3;
$border-accent-color: red;

/* Hover-color */
$hover-color: rgb(126, 156, 60);
$hover-light-color: #f3f3f3;
$hover-accent-color: red;

/* Divider-color */
$divider-color: #ddd;








/* DARK THEME */

/* dark_theme-color */

$dark_theme-main-color: #fff;

/* dark_theme-text-color */
$dark_theme-text-main-color: #fff;

/* dark_theme-background-color */
$dark_theme-background-main-color: #333;






