/* Define global typographic styles, such as font families, sizes, and weights */

$font-family: Roboto,
"Helvetica Neue",
sans-serif;
$font-style-italic: italic;
$height: 100%;
$font-size: 14px;
$line-height: 1.28571;
$height: 100%;

$font-size-14px: 16px;
$font-size-14px: 15px;
$font-size-14px: 14px;
$font-size-13px: 13px;
$font-size-12px: 12px;
$font-size-11px: 11px;
$font-size-11px: 10px;

