/* Store all your global variables, such as colors, font sizes, breakpoints,
and other reusable values */


$adaptive-container-padding: 20px;

$adaptive-container-margin: 0 auto;

$zero-container-padding: 0px;

$zero-container-margin: 20px;


