<div id="wrap-optionselect-personalhelpwidget-page-main__global">

  <div class="optionselect-global">


    <div class="attribute-abox-filterleftpanel__houseplans" id="attribute-abox-filterleftpanel__houseplans">




      <div class="abox-wrap" data-role="abox">
        <div class="abox-title-wrap">
        </div>
        <div class="abox-content">
          <div data-spm="15" id="J-product-attribute-refine" class="">
            <div class="m-attribute-filter m-attribute-filter-vertical">

              <div class="attrs-box" data-role="attrs-box">

                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=4309162|pos=1'"
                    onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Find the Optimal House Plan </span>
                    </label>
                  </a>
                </div>

                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=6268465|pos=2'"
                    onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">I have a project, and I'm planning to build Home</span>
                    </label>
                  </a>
                </div>

                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=6268465|pos=2'"
                    onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Locate a Lot of Land for Building</span>
                    </label>
                  </a>
                </div>

                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=6268465|pos=2'"
                    onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Get help with Permit Documentation</span>
                    </label>
                  </a>
                </div>


                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                    onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Choose a Home during the construction phase</span>
                    </label>
                  </a>
                </div>

                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                    onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Buy a move-in ready Home</span>
                    </label>
                  </a>
                </div>

                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                    onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Browse Now, Decide Later </span>
                    </label>
                  </a>
                </div>

              </div>
            </div>

          </div>

          <link href="//s.alicdn.com/@g/sc/list/0.1.5/sc-list/mod/attribute-filter/attribute-filter.css"
            crossorigin="anonymous" rel="stylesheet" type="text/css" media="all">
          <script>
            seajs.iuse("sc-list/mod/attribute-filter/attribute-filter.js")(function (attributeFilter) {
              attributeFilter({
                element: '#J-product-attribute-refine',
                lessTxt: '<i class="ui2-icon ui2-icon-subtract"></i> '
              });
            });
          </script>


          <link href="//s.alicdn.com/@g/sc/list/0.1.5/sc-list/mod/min-order/min-order.css" crossorigin="anonymous"
            rel="stylesheet" type="text/css" media="all">
          <script>
            seajs.iuse("sc-list/mod/min-order/min-order.js")(function (minOrder) {
              minOrder({
                element: '#J-m-min-order-refine'
              });
            });
          </script>
        </div>
      </div>


    </div>


  </div>
