@import '../../../../../../styles/styles';

/* Общий стиль карточки товара */
.wrap-productcard-page-catalog__houseplans {
  width: 328px;
  height: 508px;
  border: solid 1px;
  border-color: $border-light-color;
  border-radius: 2px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  /* Предотвращение переполнения */
}

.wrap-productcard-page-catalog__houseplans:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .13), -3px -3px 3px rgba(0, 0, 0, .13);
  z-index: 1;
}

/* Сетка для карточки товара */
.gridcontainer-productcard-page-catalog__houseplans {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:
    [row1-start] 20px [row2-start] 240px [row3-start] auto [row4-start] 20px [row5-start] 24px [row6-start] 20px [row7-start] 20px [row8-start] 20px [row9-start] 20px [row10-start] 20px [row11-start] 20px [row12-start] 20px [row13-start] 20px [row14-start] 20px [row15-start] 20px [row16-start] 20px [row17-start] 20px [row18-start] 20px [row19-start] 20px [row20-start] 20px [row21-start] 20px [row22-start] 20px [row23-start] 20px [row24-start] 20px [row25-start] 20px;
  box-sizing: border-box;

  position: relative;
  z-index: 1;
  padding: 4px;
}

.gridcontainer-productcard-page-catalog__houseplans>* {
  margin: 0;
  /* Отсутствие margin между элементами сетки */
}


/* Сетка для карточки товара */
.gridcontainer-productcard-page-catalog__houseplans>div {
  box-sizing: border-box;
  overflow: hidden;
}





.wrap-viewexterior-productcard__houseplans {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.wrap-viewfloorplans-productcard__houseplans {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.wrap-viewmodel-productcard__houseplans {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.wrap-viewenergybalance-productcard__houseplans {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.wrap-image-productcard__houseplans {
  grid-column: 1 / 5;
  grid-row: 2 / 15;
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.wrap-savebutton-productcard__houseplans {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  position: absolute;
  right: 5px;
  top: 10px;
  z-index: 2;
}

.wrap-sharebutton-productcard__houseplans {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  position: absolute;
  right: 5px;
  top: 40px;
  z-index: 2;
}

.wrap-earnbutton-productcard__houseplans {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  position: absolute;
  right: 5px;
  top: 70px;
  z-index: 2;
}

.wrap-onsale-productcard__houseplans {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  position: absolute;
  right: 0px;
  top: 180px;
  z-index: 2;
}

.wrap-energyhometype-productcard__houseplans {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  position: absolute;
  left: 0px;
  top: 180px;
  z-index: 2;
}

.wrap-id-productcard__houseplans {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  position: relative;
  left: 0px;
  top: 214px;
  z-index: 2;
}

.wrap-price-productcard__houseplans {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  position: relative;
  left: 0px;
  top: 214px;
  z-index: 2;
}

.wrap-datahome-productcard__houseplans {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
  position: relative;
  left: 0px;
}







.wrap-authorcountry-productcard__houseplans {}

.wrap-constructioncost-productcard__houseplans {}

.wrap-copyrightinfo-productcard__houseplans {}

.wrap-dataenergy-productcard__houseplans {}

.wrap-energycostestimator-productcard__houseplans {}

.wrap-rating-productcard__houseplans {}

.wrap-verificationstatus-productcard__houseplans {}


.wrap-griditemreserve-productcard__houseplans {}