<div class="wrap-productcard-page-catalog__houseplans">

  <div class="gridcontainer-productcard-page-catalog__houseplans">


    <div class="wrap-viewexterior-productcard__houseplans">
      <app-viewexterior-productcard-page-catalog-houseplans></app-viewexterior-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-viewfloorplans-productcard__houseplans">
      <app-viewfloorplans-productcard-page-catalog-houseplans></app-viewfloorplans-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-viewmodel-productcard__houseplans">
      <app-viewmodel-productcard-page-catalog-houseplans></app-viewmodel-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-viewenergybalance-productcard__houseplans">
      <app-viewenergybalance-productcard-page-catalog-houseplans></app-viewenergybalance-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-image-productcard__houseplans">
      <app-image-productcard-page-catalog-houseplans></app-image-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-savebutton-productcard__houseplans">
      <app-savebutton-productcard-page-catalog-houseplans></app-savebutton-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-sharebutton-productcard__houseplans">
      <app-sharebutton-productcard-page-catalog-houseplans></app-sharebutton-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-earnbutton-productcard__houseplans">
      <app-earnbutton-productcard-page-catalog-houseplans></app-earnbutton-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-onsale-productcard__houseplans">
      <app-onsale-productcard-page-catalog-houseplans></app-onsale-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-energyhometype-productcard__houseplans">
      <app-energyhometype-productcard-page-catalog-houseplans></app-energyhometype-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-id-productcard__houseplans">
      <app-id-productcard-page-catalog-houseplans
        [id_Houseplans]="dataHouseplans.id_Houseplans"></app-id-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-price-productcard__houseplans">
      <app-price-productcard-page-catalog-houseplans
        [price_Houseplans]="dataHouseplans.price_Houseplans"></app-price-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-datahome-productcard__houseplans">
      <app-datahome-productcard-page-catalog-houseplans [sqfttotal_Houseplans]="dataHouseplans.sqfttotal_Houseplans"
        [wide_Houseplans]="dataHouseplans.wide_Houseplans"></app-datahome-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-name-productcard__houseplans">
      <app-name-productcard-page-catalog-houseplans></app-name-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-rating-productcard__houseplans">
      <app-rating-productcard-page-catalog-houseplans></app-rating-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-authorcountry-productcard__houseplans">
      <app-authorcountry-productcard-page-catalog-houseplans></app-authorcountry-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-verificationstatus-productcard__houseplans">
      <app-verificationstatus-productcard-page-catalog-houseplans></app-verificationstatus-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-energycostestimator-productcard__houseplans">
      <app-energycostestimator-productcard-page-catalog-houseplans></app-energycostestimator-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-dataenergy-productcard__houseplans">
      <app-dataenergy-productcard-page-catalog-houseplans></app-dataenergy-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-aicostestimator-productcard__houseplans">
      <app-aicostestimator-productcard-page-catalog-houseplans></app-aicostestimator-productcard-page-catalog-houseplans>
    </div>
    <div class="wrap-humancostestimator-productcard__houseplans">
      <app-humancostestimator-productcard-page-catalog-houseplans></app-humancostestimator-productcard-page-catalog-houseplans>
    </div>


  </div>



</div>
