
<div class="wrap-pagesingin__global">

  <div class="brand-pagesingin__global"> Houseplans.Center</div>

  <div class="content-pagesingin__global">
  
    <div class="gridcontainer-content-pagesingin__global">
  
      <div class="wrap-name-gridcontainer-content__global">
        <app-name-singin-modal-global></app-name-singin-modal-global>
      </div>
  
      <div class="wrap-buttonclose-gridcontainer-content__global">
      </div>

        <div class="wrap-terms-gridcontainer-content__global">
          <app-terms-singin-modal-global></app-terms-singin-modal-global>
        </div>
  
      <div class="wrap-select-gridcontainer-content__global">
        <app-select-singin-modal-global></app-select-singin-modal-global>
      </div>
  
      <div class="wrap-email-gridcontainer-content__global">
        <app-email-singin-modal-global></app-email-singin-modal-global>
      </div>
  
      <div class="wrap-password-gridcontainer-content__global">
        <app-password-singin-modal-global></app-password-singin-modal-global>
      </div>
  
      <div class="wrap-buttonsingin-gridcontainer-content__global">
        <app-buttonsingin-singin-modal-global></app-buttonsingin-singin-modal-global>
      </div>
  
      <div class="wrap-socialaccounts-gridcontainer-content__global">
        <app-socialaccoutns-singin-modal-global></app-socialaccoutns-singin-modal-global>
      </div>
  
      <div class="wrap-additionalinfo-gridcontainer-content__global">
        <app-additionalinfo-singin-modal-global></app-additionalinfo-singin-modal-global>
      </div>
  
    </div>
  </div>

  <div class="footer-pagesingin__global"> Footer footer footer</div>


</div>