<div class="wrap-pagesingin__global">

  <div class="brand-pagesingin__global"> Houseplans.Center</div>

  <div class="content-pagesingin__global">    

    <div class="gridcontainer-content-pagesingin__global">

      <div class="wrap-name-gridcontainer-content__global">
        <app-name-singin-modal-global></app-name-singin-modal-global>
      </div>

      <div class="wrap-buttonclose-gridcontainer-content__global">
      </div>

      <div class="wrap-terms-gridcontainer-content__global">
        <app-terms-singin-modal-global></app-terms-singin-modal-global>
      </div>

      <div class="wrap-select-gridcontainer-content__global">
        <app-select-singin-modal-global></app-select-singin-modal-global>
      </div>

      <div class="wrap-email-gridcontainer-content__global">
        <app-email-singin-modal-global></app-email-singin-modal-global>
      </div>

      <div class="wrap-password-gridcontainer-content__global">
        <app-password-singin-modal-global></app-password-singin-modal-global>
      </div>

      <div class="wrap-buttonsingin-gridcontainer-content__global">
        <app-buttonsingin-singin-modal-global></app-buttonsingin-singin-modal-global>
      </div>

      <div class="wrap-socialaccounts-gridcontainer-content__global">
        <app-socialaccoutns-singin-modal-global></app-socialaccoutns-singin-modal-global>
      </div>

      <div class="wrap-additionalinfo-gridcontainer-content__global">
        <app-additionalinfo-singin-modal-global></app-additionalinfo-singin-modal-global>
      </div>

    </div>
  </div>

  <span class="returntohome-footer">
    <a routerLink="/">Return to Home</a>
  </span>


  <div class="footer-pagesingin__global">

    <div class="terms-footer">
      <p>
        <a class="conditionsuse-footer" target="_blank" href="/conditionsuse">Conditions of Use</a>
        <a class="privacynotice-footer" target="_blank" href="/privacynotice">Privacy Notice</a>
        <a class="help-footer" target="_blank" href="/help">Help</a>
      </p>
    </div>

    <span class="rights-footer">
      &copy; {{ currentYear }} Houseplans.Center, Inc. or its affiliates. All rights reserved.
    </span>
  </div>

</div>