@import '../../../../../../../styles/styles';

/* Main container */
.wrap-image-productcard-page-catalog__houseplans {}

/* Container for the image */
.image-productcard__hoseplans {
  position: relative;
  table-layout: fixed;
}

/* Style for the image */
.product-image {
  justify-content: center;
  align-items: center;

  position: relative;
  margin: 0 auto;
}

/* Styles for the image */
.s-image {
  width: 100%;
  height: auto;
  position: relative;
}






