@import '../../../../../../../styles/styles';

#wrap-terms-personalhelpwidget-page-main__global {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 8px;
}

.terms-global {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.text-terms {
  font-size: 12px;
  line-height: 1.5;
  color: $color;
}

.privacy-link {
  color: #0000FF;
  text-decoration: underline;
}

.privacy-link:hover {
  color: $accent-color;
  text-decoration: underline;
}
