@import '../../../../../../../styles/styles';


.id-productcard__houseplans {
  position: relative;
}

.overlay-id {
  background-color: rgb(232, 232, 232);  
  color: $text-color;
  font-weight: 500;
  padding: 0px 8px; 
  display: flex;
  height: 26px; 
  align-items: center;
  font-size: 14px;
}

.id span {
  font-size: 14px;
  color: black;
  font-weight: 600;
  
}