<div class="energycostestimator-productcard__houseplans">
  <div id="energycostestimator__houseplans">

    <div class="overlay-energycostestimator">

      <div class="icon-energycostestimator">
        <span class="icon-energycostestimator-size material-icons" title="">electric_bolt</span>

      </div>
      <div class="text-energycostestimator">
        Energy Cost Estimator
      </div>

      <div class="expand-energycostestimator">
        <span class="expand-energycostestimator-size material-icons" title="">chevron_right</span>
      </div>


    </div>
  </div>
</div>
