@import '../../../../../../../styles/styles';

viewenterior-productcard-houseplans {}



#viewenterior-houseplan {
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  border: 1px solid $border-accent-color;
  border-radius: 2px;
  color: $text-color;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#viewenterior-houseplan:hover {
  color: $accent-color;
  border: solid 1px $accent-color;  
}

#viewenterior-houseplan::before {
  content: "Enterior ";
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s;
  top: 1px
}

#viewenterior-houseplan::after {
  content: "Enlarge";
  position: relative;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  top: 1px;

}

#viewenterior-houseplan:hover::before {
  opacity: 0;
}

#viewenterior-houseplan:hover::after {
  opacity: 1;
}
