@import '../../../../../../../styles/styles';

/* Container for buttons over the image */
.overlay-earnbutton {

  top: 8px;
  right: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.icon-wrapper-earnbutton {
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black background */
  border: 1px solid white;
  /* White border */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, border-color 0.3s;
  position: relative;

}

/* Style for buttons */

.earn-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Styles for icons */
.material-icons {
  font-size: 18px;
  color: white;
  position: relative;
  top:3px;
}

/* Style for buttons on hover */
.icon-wrapper-earnbutton:hover {
  background-color: yellow;
  /* White background on hover */
  border-color: $accent-color;
  /* Accent color border on hover */
}

.material-icons:hover {
  color: $accent-color;
  /* White color */
}
