<!-- banner-page-catalog-houseplans.component.html -->
<div id="wrap-banner-page-catalog-houseplans">
  <div class="banner-houseplans">
    <div class="text1-banner">
      <p>Houseplans.Center<br><br>Leading Platform<br>to find House plans and Floor plans</p>
    </div>
    <div class="text2-banner">
      <p>The Best Plans from Leading Architects and Designers</p>
    </div>
    <div class="text3-banner">
      <p>Discover Your Dream Home Today</p>
    </div>



    <div class="infoblock-1-banner infoblock foto-infoblock-1 ">
      <div class="name-infoblock"> Modular Homes Plans
      </div>

      <div class="text-infoblock">
        Fixed Price for Future Home <br>
        High Factory Quality <br>
        Brief Construction Timelines <br>
        Best Preferential Loan Terms
      </div>
    </div>


    <div class="infoblock-2-banner infoblock foto-infoblock-2">
      <div class="name-infoblock"> Individual On-Site Plans
      </div>
      <div class="text-infoblock">
        Personalized Floor Plans <br>
        All Personal Preferences <br>
        Selecting Top Best Builders <br>
        Flexible Construction Schedules
      </div>
    </div>

    <div class="infoblock-3-banner infoblock foto-infoblock-3">
      <div class="name-infoblock"> Zero Energy Homes Plans
      </div>
      <div class="text-infoblock">
        Energy Tariff Independence <br>
        Premier Climate Control <br>
        Eco-Friendly Low CO₂ Climate <br>
        Global Green Energy Membership
      </div>
    </div>

    <div class="adsblock-1-banner adsblock foto-adsblock-1">
      <div class="name-adsblock"> Best Choice 2024-2025
      </div>
      <div class="text-adsblock">
        Top Human Expertise & AI Help
       <br>
        
      </div>
    </div>








    <div class="button-close-banner">
      <div class="material-icons icon-button-close" (click)="closeBanner()">close</div>
    </div>
  </div>
</div>