<!-- banner-page-catalog-houseplans.component.html -->
<div id="wrap-banner-page-catalog-houseplans" >
  <div class="banner-houseplans">
    <div class="text1-banner">
      <p>Houseplans.Center<br><br>Leading Platform<br>to find House plans and Floor plans</p>
    </div>
    <div class="text2-banner">
      <p>The Best Plans from Leading Architects and Designers</p>
    </div>
    <div class="text3-banner">
      <p>Find Your Dream Home Today</p>
    </div>

    <div class="button-close-banner">
      <div class="text-button-close">Close: 10</div>
      <div class="material-icons icon-button-close" (click)="closeBanner()">close</div>
    </div>
  </div>
</div>