<div class="costestimatorhome-grid">



  <div class="text-costestimatorhome-grid-item">
    <div class="icon-costestimatorhome">
      <span class="icon-costestimatorhome-size material-icons" title="">attach_money</span>
    </div>

    <div class="">Cost Estimator Home</div>
  </div>



  <div id="aicostestimator__houseplans">
    <div class="overlay-costestimatorhome">
      <div class="icon-costestimatorhome">
        <span class="icon-costestimatorhome-size material-icons" title="">memory</span>
      </div>
      <div class="name-costestimatorhome">
        AI-Powered
      </div>
      <div class="expand-costestimatorhome">
        <span class="expand-costestimatorhome-size material-icons" title="">expand_more</span>
      </div>
    </div>
  </div>



  <div id="humancostestimator__houseplans">
    <div class="overlay-costestimatorhome">
      <div class="icon-costestimatorhome">
        <span class="icon-costestimatorhome-size material-icons" title="">person</span>
      </div>
      <div class="name-costestimatorhome">
        Builders
      </div>
      <div class="expand-costestimatorhome">
        <span class="expand-costestimatorhome-size material-icons" title="">expand_more</span>
      </div>
    </div>
  </div>


</div>
