<div class="costestimatorhome-grid">



  <div class="text-costestimatorhome-grid-item">
    <div class="">Estimator Home Construction</div>
    <sup id="productcard_houseplans_ref-3" class="reference"><a 
        class="link-with-help-cursor" (click)="openModalOnClick()" >[3]</a></sup>
  </div>



  <div id="aicostestimator__houseplans">
    <div class="overlay-costestimatorhome">
      <div class="icon-costestimatorhome">
        <span class="icon-costestimatorhome-size material-icons icon-cost" title="">attach_money</span>
      </div>
      <div class="name-costestimatorhome" >
        Cost
      </div>
      <div class="expand-costestimatorhome">
        <span class="expand-costestimatorhome-size material-icons" title="">chevron_right</span>
      </div>
    </div>
  </div>



  <div id="humancostestimator__houseplans">
    <div class="overlay-costestimatorhome">
      <div class="icon-costestimatorhome">
        <span class="icon-costestimatorhome-size material-icons icon-time" title="">access_time</span>
      </div>
      <div class="name-costestimatorhome">
        Time
      </div>
      <div class="expand-costestimatorhome">
        <span class="expand-costestimatorhome-size material-icons" title="">chevron_right</span>
      </div>
    </div>
  </div>

  <div id="humancostestimator__houseplans">
    <div class="overlay-costestimatorhome">
      <div class="icon-costestimatorhome">
        <span class="icon-costestimatorhome-size material-icons icon-energy" title="">electric_bolt</span>
      </div>
      <div class="name-costestimatorhome">
        Energy
      </div>
      <div class="expand-costestimatorhome">
        <span class="expand-costestimatorhome-size material-icons" title="">chevron_right</span>
      </div>
    </div>
  </div>


</div>
