@import '../../../../../../../styles/styles';

/* ..................... */

.wrap-saved-bottom-header__global {
  width: auto;
  position: static;
  float: none;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  justify-content: flex-end;

}

.wrap-saved-bottom-header__global:hover .name-icon-saved {
  color: $accent-color;
  text-decoration: underline;
}

.wrap-saved-bottom-header__global:hover .reviews-saved {
  color: $accent-color;
}

.icon-saved {
  color: $light-color;
  margin-top: 2px;
  font-size: 14px;

}

.name-icon-saved a {
  margin-left: 2px;
  font-size: 13px;
  color: rgb(46, 45, 45)
}

.reviews-saved {
  font-size: 11px;
  color: $light-color;
  position: relative;
  bottom: 5px;
  margin-left: -1px;
}

.vertical-divider {
  list-style: none;
  padding: 0;
  color: #ebebeb;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
  display: inline;
}