<div class="aicostestimator-productcard__houseplans">
  <div id="aicostestimator__houseplans">

    <div class="overlay-aicostestimator">

      <div class="icon-aicostestimator">
        <span class="icon-aicostestimator-size material-icons" title="">home</span>

      </div>
      <div class="text-aicostestimator">
        AI-Powered Construction Cost Estimator
      </div>

      <div class="expand-aicostestimator">
        <span class="expand-aicostestimator-size material-icons" title="">chevron_right</span>
      </div>


    </div>
  </div>
</div>