/* Импорт стилей, если используется */
@import '../../../../../../../styles/styles';


.aicostestimator-productcard__houseplans {}


#aicostestimator__houseplans {}

.aicostestimator {}



/* Стили для overlay-aicostestimator */
.overlay-aicostestimator {
  cursor: pointer;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 16px;
  text-decoration: underline;
}

.icon-aicostestimator {}


.icon-aicostestimator-size {
  font-size: 16px;
  color: blue;
}

.text-aicostestimator {
  color: $color;
  font-size: 14px;
  margin-left: 2px;


}

.expand-aicostestimator {}

.expand-aicostestimator-size {
  color: #706d6d;
  font-size: 18px;
}
