<div class="timeestimatorconstruction-productcard__houseplans">
  <div id="timeestimatorconstruction__houseplans">

    <div class="overlay-timeestimatorconstruction">

      <div class="icon-timeestimatorconstruction">
        <span class="icon-timeestimatorconstruction-size material-icons" title="">access_time</span>

      </div>
      <div class="text-timeestimatorconstruction">
        Time Estimator Construction
      </div>

      <div class="expand-timeestimatorconstruction">
        <span class="expand-timeestimatorconstruction-size material-icons" title="">chevron_right</span>
      </div>


    </div>
  </div>
</div>
