/* Импорт стилей, если используется */
@import '../../../../../../../styles/styles';


.timeestimatorconstruction-productcard__houseplans {}


#timeestimatorconstruction__houseplans {}

.timeestimatorconstruction {}



/* Стили для overlay-timeestimatorconstruction */
.overlay-timeestimatorconstruction {
  cursor: pointer;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  text-decoration: underline;
  text-decoration-color: $color;
  border-bottom: 1px solid $divider-color;
}

.icon-timeestimatorconstruction {}


.icon-timeestimatorconstruction-size {
  font-size: 16px;
  color:#00A4E4;
}

.text-timeestimatorconstruction {
  color: $color;
  font-size: 14px;
  margin-left: 3px;
}

.text-timeestimatorconstruction:hover {
  color: $accent-color;
}

.expand-timeestimatorconstruction {}

.expand-timeestimatorconstruction-size {
  color: #706d6d;
  font-size: 18px;
}
