<div class="wrap-page-container">

  <!-- Header -->
  <header id="header-container">
    <app-header-global></app-header-global>
  </header>

  <!-- Main content -->
  <main class="page-container">
    <div id="main-container__global">
      <div id="layout-main-container">
        <div class="text-content">
          H1 = Best Platform for House Building
        </div>
        <div id="wrap-card-layout">
          <div id="houseplansection" class="wrap-card">
           <app-houseplansection-page-main-global></app-houseplansection-page-main-global>
          </div>
          <div id="buildersection" class="wrap-card">
            <app-buildersection-page-main-global></app-buildersection-page-main-global>
          </div>
          <div id="homeshopsection" class="wrap-card">
            <app-homeshopsection-page-main-global></app-homeshopsection-page-main-global>
          </div>
          <div id="mortgagesection" class="wrap-card">
            <app-mortgagesection-page-main-global></app-mortgagesection-page-main-global>
          </div>
          <div id="architectsection" class="wrap-card">
            <app-architectsection-page-main-global></app-architectsection-page-main-global>
          </div>
          <div id="suppliersection" class="wrap-card">
            <app-suppliersection-page-main-global></app-suppliersection-page-main-global>
          </div>
          <div id="discountsection" class="wrap-card">
          <app-discountsection-page-main-global></app-discountsection-page-main-global>
          </div>

        </div>


        <div id="wrap-personalhelpwidget__global">
          <div class="wrap-personalhelpwidget">
            <app-personalhelpwidget-page-main-global></app-personalhelpwidget-page-main-global>
          </div>
        </div>







      </div>
    </div>

    <!-- Additional content -->
    <section class="additional-container">
      <!--<app-viewed-products></app-viewed-products>-->
    </section>
  </main>

  <!-- Footer -->
  <footer id="footer-container">
    <!-- <app-footer-global></app-footer-global>-->
  </footer>

</div>
