<div class="wrap-page-container">

  <!-- Header -->
  <header id="header-container">
    <app-header-global></app-header-global>
  </header>

  <!-- Main content -->
  <main class="page-container">
    <div id="main-container__global">
      <div id="layout-main-container">
        <div class="text-content">Best Plattform for House Building
        </div>
        <div id="wrap-card-layout">
          <div id="wrap-card-1" class="wrap-card">wrap-card-1
          </div>
          <div id="wrap-card-2" class="wrap-card">wrap-card-2
          </div>
          <div id="wrap-card-3" class="wrap-card">wrap-card-3
          </div>
          <div id="wrap-card-4" class="wrap-card">wrap-card-4
          </div>
          <div id="wrap-card-5" class="wrap-card">wrap-card-5
          </div>
          <div id="wrap-card-6" class="wrap-card">wrap-card-6
          </div>
        </div>
      </div>
    </div>
    <!-- Additional content -->
    <section class="additional-container">
      <!--<app-viewed-products></app-viewed-products>-->
    </section>
  </main>

  <!-- Footer -->
  <footer id="footer-container">
    <!-- < <app-footer-global></app-footer-global>-->
  </footer>

</div>
