@import '../../../../../styles/styles';

/* ..................... */

.wrap-page-container {
  background-color: #E3E6E6;    
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


.page-container {
  max-width: 1686px;
  margin: 0 auto;
}

.ad-container {}

#header-container {}


#main-container__global {
  display: flex;
  min-height: 100vh;
  flex-grow: 1;
    /* Контейнер занимает оставшееся пространство */
}

#layout-main-container {
  display: flex;
  position: relative;
}


.text-content{
  background-color: transparent;
  color:white;
  position: absolute;
  padding: 20px;
  font-size: 40px;
  text-align: center;}


#wrap-card-layout {
  display: flex;
  flex-wrap: wrap;
  margin-top: 250px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 100vh;


}

.wrap-card {
  background-color: white;
  display: block;
  width: 312px;
  height: 480px;
  margin: 10px;
  border: 1px solid rgb(222, 222, 222);
  box-sizing: border-box;
    /* Включает границу и отступы в размеры элемента */

}

#wrap-personalhelpwidget__global {
  display: block;
  position: absolute;
  top: 40px;
  right: 160px;
}

.wrap-personalhelpwidget {}

#wrap-singin-modal__global {
  display: block;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  right: auto;
}
.wrap-singin-modal {}

#wrap-createaccount-modal__global {
  display: block;
  position: absolute;
  top: 40px;
  left: 20%;
  transform: translateX(-50%);
  right: auto;
}

.wrap-createaccount-modal {}


#additional-container {}

#footer-container {}


