<div class="page-container">

  <!-- Header -->
  <header id="header-container">
    <app-header-global></app-header-global>
  </header>

  <!-- Submenu partnerships -->
  <nav id="nav-container" role="navigation">
    <app-partnerships-submenu-global></app-partnerships-submenu-global>
  </nav>

  <!-- Сontent container -->
  <main id="content-container">

    <div class="name-partnership-program">Partnership Programs for <span class="name-text-color">Architects and
        Designers</span>
    </div>

    <div class="content-partnership-program">

      <div class="menu-content">
        <div class="link-menu-content">Essential Info</div>
        <div class="name-menu-content">Quick Guide</div>


        <ul>
          <li><a href="#registration">Registration and Author Profile</a></li>
          <li><a href="#payment-agreement">Payment Agreement</a></li>
          <li><a href="#submission-terms">House Plan Submission Terms</a></li>
          <li><a href="#copyright-information">Copyright Information</a></li>
          <li><a href="#statistics-overview">Statistics Overview</a></li>
          <li><a href="#verified-status">Get Verified Author Status</a></li>
          <li><a href="#support">Support</a></li>
          <li><a href="#feedback">Feedback</a></li>
        </ul>
      </div>

      <div class="main-content">

        <div class="name-main-content">
          <div class="title-name-main-content">You can send a direct inquiry via email to receive detailed information
            and expedite the process of listing your
            projects on the platform, or to address any other questions you may have.
          </div>
          <div class="text-name-main-content">housebuidhub&#64;gmail.com
          </div>
        </div>

        <div class="item-main-content" id="registration">
          <div class="title-item-main-content">Registration and Author Profile
          </div>
          <div class="text-item-main-content">
            <p>
              <b>Profile Registration and Updates:</b>
              <br>Registration is open to individuals and companies
              <br>Authors must be at least 18 years old to register.
              <br>A platform user can register as <b>Author of House Plan</b> project author either through the
              appropriate <b>Registration Form</b> registration form or via <b>E-mail</b>.
              <br>All profiles will undergo a verification process to ensure authenticity.
              <br>Authors may be required to provide additional documentation for verification.
              <br>Authors can update their profiles at any time.
              <br>It is the author is responsibility to keep their information current and accurate.
            </p>
            <p>
              <b>Privacy and Data Security:</b>
              <br> Personal information will be kept confidential and used solely for registration and communication
              purposes.
              <br>Authors can manage their privacy settings within their profiles.
            </p>
            <p>
              <b>Account Termination:</b>
              <br> The platform reserves the right to suspend or terminate accounts that violate the terms of service or
              community guidelines.
              <br>Authors can contact support for assistance with registration or profile management.
            </p>

          </div>
        </div>

        <div class="item-main-content" id="payment-agreement">
          <div class="title-item-main-content">Payment Agreement
          </div>
          <div class="text-item-main-content">
            <p>
              <b>Sales Commission:</b>
              <br> Authors can list their projects on the platform <b style="color: green;">for FREE</b>. In case of a
              sale, we retain <b>30%</b> of the sale
              price, and <b>70%</b> is paid to the author.
              <br>
              The minimum sale price for a project on the platform is <b>99 USD</b>. All prices must be set between
              <b>99 USD and 5000
                USD</b>.
            </p>
            <p>
              <b>Paid Subscription:</b>
              <br> We offer a subscription at <b>99 USD/month</b> or <b>499 USD/year</b>, allowing authors to post an
              unlimited number of projects with
              <b>0% commission</b> on sales.
            </p>
            <p>
              <b>Free Option:</b>
              <br> Authors, including scholarship recipients, architecture students, and similar groups, can post their
              projects for free
              with <b>0% commission</b> on sales and <b>free project listing</b>.
            </p>
            <p>
              <b>Additional Options:</b>
              <br> Zero Energy and Energy Efficient House Plans receive an <b>additional 10% discount</b> on listing.
            </p>
          </div>
        </div>

        <div class="item-main-content" id="submission-terms">
          <div class="title-item-main-content">House Plan Submission Terms
          </div>
          <div class="text-item-main-content">
            <p>
              <b>File Formats:</b>
              <br> Accepted formats for house plans include: PDF, DWG, DXF, and JPG/PNG for images.
              <br> Ensure that all files are clear and legible, with high resolution for drawings and illustrations.
              <br>You may submit up to <b>30 files</b> per project, including drawings, images, and any additional
              materials (e.g., structural
              reports, material lists).
              <br>
              Plans should be submitted in standard architectural sizes, such as A0, A1, A2, or A3. Ensure that all
              drawings are to
              scale and properly labeled.
            </p>
            <p>
              <b>Plan Details:</b>
              <br>House plans must include key elements such as floor plans, elevations, sections, and site plans.
              <br>High-quality renderings or photos of completed projects are recommended.
              <br>Submit images in <b>JPG/PNG</b> format with a resolution of at least <b>150 dpi</b>.
              <br>A project description of at least 150 words must accompany each submission, detailing key features,
              size, and unique
              aspects of the design.
              <br>You may also include technical documentation (e.g., material specifications, structural analysis) as
              supplemental files.
            </p>
            <p>
              <b>Submission Review:</b>
              <br>All submissions will undergo a review process to ensure they meet our quality and technical standards
              before being published on the platform.
              <br>Incomplete or incorrectly formatted submissions may be returned for revision.
              <br>The platform reserves the right to make decisions regarding the placement or removal of an author's
              project, with prior
              notification of the author about the decision.
            </p>
            <p>
              <b>Moderation and Approval Process:</b>
              <br>All submitted projects will undergo a moderation process before publication. This review typically
              takes up to <b>7 days</b>. Authors will be notified once their project is approved and published on the
              platform.
            </p>
          </div>
        </div>

        <div class="item-main-content" id="copyright-information">
          <div class="title-item-main-content">Copyright Information
          </div>
          <div class="text-item-main-content">
            <p>
              <b>Ownership and Copyright:</b>
              <br> You confirm that you are the original creator or have the legal right to submit the house plans for
              public display. All intellectual property rights to the submitted plans remain with you, the author,
              unless agreed otherwise in writing.
            </p>
            <p>
              <b>Licensing and Usage:</b>
              <br> By submitting your project, you grant Houseplans.Center the non-exclusive right to display, market,
              and sell your
              house plans on our platform. You retain full ownership and control over your designs.
              <br>
            </p>
          </div>
        </div>

        <div class="item-main-content" id="statistics-overview">
          <div class="title-item-main-content">Statistics Overview
          </div>
          <div class="text-item-main-content">
            <p>
              <b>Monthly Statistics Overview:</b>
              <br>Every month, we provide a comprehensive statistics report to keep our authors and users informed about
              the performance
              and engagement on our platform. Here іs what the report includes:
              <br>An overview of the total number of house plans and projects submitted by authors during the month.
              <br>A breakdown of the total views for all projects submitted, along with the most viewed projects of the
              month.
              <br>Insights into user interactions, including comments, likes, and shares on submitted projects.
              <br>Data on the conversion rates for users who viewed projects and proceeded to take further action, such
              as inquiries or downloads.
              viding a comprehensive financial report on the number of implemented platform author projects.
            </p>
            <p>
              <b>Financial component:</b>
              <br>Providing a comprehensive financial report on the number of implemented platform author projects.
            </p>
          </div>
        </div>

        <div class="item-main-content" id="verified-status">
          <div class="title-item-main-content">Get Verified Author Status
          </div>
          <div class="text-item-main-content">
            <p>
              <b>Project Quality:</b>
              <br>Authors must submit a minimum of <b>3</b> high-quality house plans or projects that meet our quality
              standards. These projects should demonstrate originality, creativity, and adherence to architectural best
              practices.
            </p>
            <p>
              <b>Profile Completeness:</b>
              <br>A professional bio highlighting their experience and expertise.
              <br>A profile picture.
              <br>Contact information.
            </p>
            <p>
              <b>Submission Guidelines:</b>
              <br>All submitted projects must adhere to our submission guidelines regarding formatting, dimensions, and
              required
              documentation (e.g., detailed descriptions, images, and specifications).
            </p>
            <p>
              <b>User Ratings:</b>
              <br>Authors should maintain a minimum average rating of <b>4</b> from <b>5</b> based on user feedback and
              reviews on their
              submitted projects.
            </p>
          </div>
        </div>

        <div class="item-main-content" id="support">
          <div class="title-item-main-content">Support
          </div>
          <div class="text-item-main-content">
            <p>
              <b>Help Center:</b>
              <br>Access a comprehensive library of articles and guides covering various topics related to our platform.
              Find step-by-step
              instructions and troubleshooting tips to resolve common issues.
            </p>
            <p>
              <b>Contact Support:</b>
              <br>If you can not find the answers you need, reach out to our support team directly. Our dedicated
              professionals are
              available to assist you with any inquiries or challenges you may encounter.
              <br><b style="color: blue;">housebuidhub&#64;gmail.com</b>
            </p>
          </div>
        </div>

        <div class="item-main-content" id="feedback">
          <div class="title-item-main-content">Feedback
          </div>
          <div class="text-item-main-content">
            <p>
              <b>Feedback Section Overview:</b>
              <br>We encourage all users to share their thoughts and suggestions about their experiences with our
              platform. This allows us
              to understand your needs better and make necessary improvements.
            </p>
            <p>
              <b>Survey Participation:</b>
              <br>Occasionally, we conduct surveys to gather in-depth insights. Participate and help shape the future of
              our platform!
              <br>
              If you encounter any problems, please report them through this section. We take these issues seriously and
              strive to
              resolve them promptly.
              <br><b style="color: blue;">housebuidhub&#64;gmail.com</b>
            </p>

          </div>
        </div>

        <div id="helpfulinfo-architects">
          <app-helpfulinfo-surveys-global></app-helpfulinfo-surveys-global>
        </div>

      </div>
      <div class="additional-content">Coming Soon: Currently in Development </div>

    </div>

  </main>

  <!-- Footer -->
  <footer id="footer-container">
    <!-- <app-footer-global></app-footer-global>-->
  </footer>

</div>