<div class="constructionoptions-grid">



    <div class="text-constructionoptions-grid-item">
      <div class="">Available House Construction Options
      </div>
    </div>

    <div class="constructionoptions-grid-item">
      <div class="name-constructionoptions-grid-item">Timber
        <div class="value-constructionoptions-grid-item">++</div>
      </div>
    </div>

    <div class="constructionoptions-grid-item">
      <div class="name-constructionoptions-grid-item">Bricks
        <div class="value-constructionoptions-grid-item">&#x2714;</div>
      </div>
    </div>


    <div class="constructionoptions-grid-item">
      <div class="name-constructionoptions-grid-item">Module
        <div class="value-constructionoptions-grid-item">--</div>
      </div>
    </div>


    <div class="constructionoptions-grid-item">
      <div class="name-constructionoptions-grid-item">.......
        <div class="value-constructionoptions-grid-item">&#x2714;</div>
      </div>
    </div>
  </div>



