@import '../../../../../../../styles/styles';

/* ..................... */

.wrap-help {
  cursor: pointer;
  display: flex;
  max-width: 20px;
  align-items: center;
}

.wrap-help:hover .icon-help {
  color: $accent-color;
}

.wrap-help:hover .reviews-help {
  color: $accent-color;
}

.icon-help {
  color: white;
  margin-top: 2px;
  font-size: 22px;
}

