@import '../../../../../../../styles/styles';

/* ..................... */

.wrap-help {
  min-width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
}

.wrap-help:hover .icon-help {
  color: $accent-color;
}

.wrap-help:hover {
  border: 1px solid white;
  border-radius: 2px;
}




.wrap-help:hover .reviews-help {
  color: $accent-color;
}

.icon-help {
  color: white; 
  font-size: 22px;
}
