<div id="banner-above-header-container-global">
  <!--
    <style>
    .banner-above-header-background-image-wrapper-global {
      background-image: url(/assets/assets_Global/banner_Global/banner-above-header-background-image-wrapper-global.JPG);
    }
  </style>
-->

 

  <div class="banner-above-header-global">
    <a routerLink="/investorcenter" target="_blank" rel="nofollow" title="">
      /.....version in development...../ for INVESTORS: Investment & Corporate Rights Acquisition >>>
    </a>
  </div>

  <div class="banner-above-header-global">
    <a routerLink="/partnerships" target="_blank" rel="nofollow" title="">
      /.....version in development...../ for PARTNERS: Become a Partner & Earn with us >>>
    </a>
  </div>


</div>
