<div class="humancostestimator-productcard__houseplans">
  <div id="humancostestimator__houseplans">

    <div class="overlay-humancostestimator">

      <div class="icon-humancostestimator">
        <span class="icon-humancostestimator-size material-icons" title="">people</span>

      </div>
      <div class="text-humancostestimator">
        Local Best Builders Cost Estimator
      </div>

      <div class="expand-humancostestimator">
        <span class="expand-humancostestimator-size material-icons" title="">chevron_right</span>
      </div>


    </div>
  </div>
</div>
