<div class="wrap-top-header__global">

  <div id="container-logo-top-header__global" >
    <app-logo-top-header-global></app-logo-top-header-global> 
  </div>

  <div class="vertical-divider">|</div>

  <div id="container-services-top-header__global">
    <app-services-top-header-global></app-services-top-header-global>
  </div>

  <div class="vertical-divider">|</div>

  <div id="earn-top-header__global">
    <a routerLink="/partnerships" target="_blank" rel="nofollow" title="">
      Become a Partner & Earn >>> Free Registration
    </a>
  </div>

    <div class="vertical-divider">|</div>

  <div id="version-top-header__global">
    !!! Beta Test Version: 1.0.2 - In Online Development
  </div>

  <div class="vertical-divider">|</div>

  <div id="help-top-header__global">
    <app-help-top-header-global></app-help-top-header-global>
  </div>

  <div class="vertical-divider">|</div>

  <div id="container-message-top-header__global">
    <app-message-top-header-global></app-message-top-header-global>
  </div>

  <div class="vertical-divider">|</div>

  <div id="container-settings-top-header__global">
    <app-settings-top-header-global></app-settings-top-header-global>
  </div>

  <div class="vertical-divider">|</div>

  <div id="container-saved-top-header__global">
    <app-saved-top-header-global></app-saved-top-header-global>
  </div>

  <div class="vertical-divider">|</div>

  <div id="container-cart-top-header__global">
    <app-cart-top-header-global></app-cart-top-header-global>
  </div>

  <div class="vertical-divider">|</div>

  <div id="container-cart-top-header__global">
    account
  </div>



</div>
