<div class="wrap-top-header__global">

  <div id="logo-top-header__global">
   AHH-logo
  </div>

  <div id="investorcenter-top-header__global">
   
    <a routerLink="/investorcenter" target="_blank" rel="nofollow" title="">
      Investor Center
    </a>
  </div>

  <div id="earn-top-header__global">
    <a routerLink="/partnerships" target="_blank" rel="nofollow" title="">
      Become a Partner & Earn  >>> Free Registration
    </a>
  </div>

  <div id="version-top-header__global">
  !!! Version: 1.0.1 - In Online Development
  </div>

  <div id="visitcount-top-header__global">
  Visit Count: 1 023
  </div>

  <div id="information-center-header__global">
    ?
  </div>

  <div id="setting-top-header__global">
   setting
  </div>

</div>
