@import '../../../../../../styles/styles';

/* ..................... */
.wrap-top-header__global {
  clear: both;
  position: relative;
  display: flex;
  height: 32px;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
  background: #445569;
  /* #232F3E */
  color: white;
  justify-content: space-between;
}

#logo-top-header__global {}

#investorcenter-top-header__global {
  color: yellow;
}

#investorcenter-top-header__global a {
  text-decoration: none;
  color: yellow;
}

#investorcenter-top-header__global a:hover {
  text-decoration: underline;
}

#earn-top-header__global {
  color: yellow;
  text-decoration: none;
}

#earn-top-header__global a {
  color: yellow;
  text-decoration: none
}

#earn-top-header__global a:hover {
  color: yellow;
  text-decoration: underline;
}

#version-top-header__global {
  color: white;
  font-size: 16px;

}

#visitcount-top-header__global {
  color: white;
  display: flex;
}

.number-visitcount {
  text-decoration: underline;
  margin-left: 5px;
  font-weight: 500;
  color: #00FF00;
}


#setting-top-header__global {
  color: yellow;
  display: flex;
}

.icon-setting {
  font-size: 14px;
}

.text-setting {
  margin-left: 4px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 13px;
}

.text-setting:hover {
  text-decoration: underline;
}
