@import '../../../../../../styles/styles';

/* ..................... */
.wrap-top-header__global {
  clear: both;
  position: relative;
  display: flex;
  height: 40px;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
  background: #232F3F;
  color: white;  
}

#logo-top-header__global {
  margin-left: 20px;
  padding: 0 12px;
  border-right: 1px solid #7d7d7d;
  cursor:  default;
}

#container-services-top-header__global {
  margin-left: 12px; 
  
}



#investorcenter-top-header__global {
  color: yellow;
  margin-left: 60px;
}

#investorcenter-top-header__global a {
  text-decoration: none;
  color: yellow;
}

#investorcenter-top-header__global a:hover {
  text-decoration: underline;
}

#earn-top-header__global {
  color: yellow;
  text-decoration: none;
  margin-left: 20px;
}

#earn-top-header__global a {
  color: yellow;
  text-decoration: none
}

#earn-top-header__global a:hover {
  color: yellow;
  text-decoration: underline;
}

#version-top-header__global {
  color: white;
  font-size: 16px;
  margin-left: 20px;

}

#visitcount-top-header__global {
  color: white;
  display: flex;
  margin-left: 20px;
}

.number-visitcount {
  text-decoration: underline;
  margin-left: 5px;
  font-weight: 500;
  color: #00FF00;
}


#setting-top-header__global {
  color: yellow;
  display: flex;
  margin-right: 20px;
}

.icon-setting {
  font-size: 14px;
  margin-left: 20px;
}

.text-setting {
  margin-left: 4px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 13px;
}

.text-setting:hover {
  text-decoration: underline;
}
