<div class="wrap-top-header__global">

  <div id="container-logo-top-header__global" >
    <app-logo-top-header-global></app-logo-top-header-global> 
  </div>

  <div class="vertical-divider">|</div>

  <div id="container-services-top-header__global">
    <app-services-top-header-global></app-services-top-header-global>
  </div>   
  

  <div id="container-search-top-header__global" title="111">
    <app-search-top-header-global></app-search-top-header-global>
  </div>

  <div id="container-help-top-header__global">
    <app-help-top-header-global></app-help-top-header-global>
  </div>

  <div class="vertical-divider">|</div>

  <div id="container-message-top-header__global">
    <app-message-top-header-global></app-message-top-header-global>
  </div>

  <div class="vertical-divider">|</div>

  <div id="container-settings-top-header__global">
    <app-settings-top-header-global></app-settings-top-header-global>
  </div>

  <div class="vertical-divider">|</div>

  <div id="container-saved-top-header__global">
    <app-saved-top-header-global></app-saved-top-header-global>
  </div>

  <div class="vertical-divider">|</div>

  <div id="container-account-top-header__global">
    <app-account-top-header-global></app-account-top-header-global>
  </div>
  

  <div class="vertical-divider">|</div>

<div id="container-cart-top-header__global">
  <app-cart-top-header-global></app-cart-top-header-global>
</div>



</div>
