<div class="energyestimatorbuilding-productcard__houseplans">
  <div id="energyestimatorbuilding__houseplans">

    <div class="overlay-energyestimatorbuilding">

      <div class="icon-energyestimatorbuilding">
        <span class="icon-energyestimatorbuilding-size material-icons" title="">electric_bolt</span>

      </div>
      <div class="text-energyestimatorbuilding">
        Energy Estimator Building
      </div>

      <div class="expand-energyestimatorbuilding">
        <span class="expand-energyestimatorbuilding-size material-icons" title="">expand_more</span>
      </div>


    </div>
  </div>
</div>
