<div class="verification-productcard__houseplans">
  <div id="verification__houseplans">
    
    <div class="overlay-verification">

      <div class="icon-verification">
        <span class="icon-verification-size material-icons" title="">task_alt</span>

      </div>
      <div class="text-verification">
        Verified
      </div>

      <div class="expand-verification">
        <span class="expand-verification-size material-icons" title="">expand_more</span>
      </div>


    </div>
  </div>
</div>

