/* Импорт стилей, если используется */
@import '../../../../../../../styles/styles';


.verification-productcard__houseplans {}


#verification__houseplans {}

.verification {}



/* Стили для overlay-verification */
.overlay-verification {  
  display: flex;
  border-bottom: 1px solid #cfcfcf;
  margin-left: 4px;
  margin-right: 4px;
  padding-top: 4px;
}

.icon-verification {}


.icon-verification-size {
  font-size: 14px;
  color: green;
}

.text-verification {
  color: green;
  font-size: 12px;
  margin-left: 1px;
}

sup.reference {
  unicode-bidi: -moz-isolate;
  unicode-bidi: -webkit-isolate;
  unicode-bidi: isolate;
  white-space: nowrap;
  font-weight: normal;
  font-style: normal;
  cursor: help;
  margin-left: 2px;
  margin-top: -6px;
}

.link-with-help-cursor {
  cursor: help;
}

