<div class="verification-productcard__houseplans">
  <div id="verification__houseplans">
    
    <div class="overlay-verification">

      <div class="icon-verification">
        <span class="icon-verification-size material-icons" title="">task_alt</span>

      </div>
      <div class="text-verification">
        Verified
      </div>
      <sup id="productcard_houseplans_ref-2" class="reference"><a href="#productcard_houseplans_note-2"
          class="link-with-help-cursor">[2]</a></sup>

    


    </div>
  </div>
</div>

