@import '../../../../../../../styles/styles';

.name-personalhelpwidget {
  margin-left: 8px;
  margin-top: 2px;
  background: linear-gradient(to right, #e0f7fa, #ffffff, yellow);
  background-size: 200% 100%;
  animation: gradientShift 6s ease infinite, textColorChange 6s ease infinite;
  color: #000;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@keyframes textColorChange {
  0% {
    color: #003366;
  }

  50% {
    color: $accent-color;
  }

  100% {
    color: #003366;
  }
}

.text-name-personalhelpwidget {
  font-size:18px;
  font-weight: 500;

}
