<div class="name-productcard__houseplans">
  <div id="name__houseplans">
    <div class="overlay-name">
      <div class="name">
        <a class="name-link"
          title="Beautiful house with a balcony and access to a summer terrace in the garden for a large family with two dogs"
          rel="nofollow" [routerLink]="['/houseplan-id-100Z']">
          Beautiful house with a balcony and access to a summer terrace in the garden for a large family with two dogs
        </a>
      </div>
    </div>
  </div>
</div>
