/* Импорт стилей, если используется */
@import '../../../../../../../styles/styles';


.name-productcard__houseplans{}


#name__houseplans{}

.name {}



/* Стили для overlay-name */
.overlay-name {
  font-weight: 400;
 cursor: pointer;
  margin: 10px 10px 0px;
  align-items: center;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
  max-height: 2.8em;
  letter-spacing: 0.03em;

}

/* Стили для ссылок */
.name-link  {
  color:#007185;
}

.name-link:hover {
  color: $accent-color;
}
