<div class="wrap-filterleftpanel__houseplans">
  <div class="subwrap-filterleftpanel__houseplans">
    <div class="attribute-abox-filterleftpanel__houseplans" id="attribute-abox-filterleftpanel__houseplans">


      <div class="wrap-abox-filtercard" data-role="abox">
        <div class="abox-title-wrap">
          <div class="abox-title" data-role="abox-title">
            <span class="abox-title-text">HOUSE OPTIONS (Home Types)</span>
          </div>
        </div>
        <div class="abox-content">
          <div data-spm="15" id="J-product-attribute-refine" class="">
            <div class="m-attribute-filter m-attribute-filter-vertical">

              <div class="attrs-box" data-role="attrs-box">

                    <div class="attr-item">
                      <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                        onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                        <label class="ui2-checkbox-customize-label">
                          <input type="checkbox" class="ui2-checkbox-customize-val">
                          <span class="ui2-checkbox-customize-txt">Custom <em class="num">(>10000)</em></span>
                        </label>
                      </a>
                    </div>            

            


                  <div class="attr-item">
                    <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                      onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                      <label class="ui2-checkbox-customize-label">
                        <input type="checkbox" class="ui2-checkbox-customize-val">
                        <span class="ui2-checkbox-customize-txt">Prefab  <em class="num">(>500)</em></span>
                      </label>
                    </a>
                  </div>

                  

                    <div class="attr-item">
                      <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=4309162|pos=1'"
                        onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                        <label class="ui2-checkbox-customize-label">
                          <input type="checkbox" class="ui2-checkbox-customize-val">
                          <span class="ui2-checkbox-customize-txt">Modular <em class="num">(>1000)</em></span>
                        </label>
                      </a>
                    </div>

                      <div class="attr-item">
                      <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=4309162|pos=1'"
                        onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                        <label class="ui2-checkbox-customize-label">
                          <input type="checkbox" class="ui2-checkbox-customize-val">
                          <span class="ui2-checkbox-customize-txt">Container <em class="num">(304)</em></span>
                        </label>
                      </a>
                    </div>

                        <div class="attr-item">
                          <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=4309162|pos=1'"
                            onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                            <label class="ui2-checkbox-customize-label">
                              <input type="checkbox" class="ui2-checkbox-customize-val">
                              <span class="ui2-checkbox-customize-txt">Kit Homes <em class="num">(304)</em></span>
                            </label>
                          </a>
                        </div>
                  

                  <div class="attr-item">
                    <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                      onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                      <label class="ui2-checkbox-customize-label">
                        <input type="checkbox" class="ui2-checkbox-customize-val">
                        <span class="ui2-checkbox-customize-txt">Brick & Block <em class="num">(128)</em></span>
                      </label>
                    </a>
                  </div>

                    <div class="attr-item">
                      <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                        onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                        <label class="ui2-checkbox-customize-label">
                          <input type="checkbox" class="ui2-checkbox-customize-val">
                          <span class="ui2-checkbox-customize-txt">Steel Frame <em class="num">(254)</em></span>
                        </label>
                      </a>
                    </div>

                  <div class="attr-item">
                    <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                      onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                      <label class="ui2-checkbox-customize-label">
                        <input type="checkbox" class="ui2-checkbox-customize-val">
                        <span class="ui2-checkbox-customize-txt">Solid Wood <em class="num">(118)</em></span>
                      </label>
                    </a>
                  </div>

                  <div class="attr-item">
                    <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                      onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                      <label class="ui2-checkbox-customize-label">
                        <input type="checkbox" class="ui2-checkbox-customize-val">
                        <span class="ui2-checkbox-customize-txt">Straw Bale <em class="num">(174)</em></span>
                      </label>
                    </a>
                  </div>

                  <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                    onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Concrete <em class="num">(8)</em></span>
                    </label>
                  </a>
                  </div>

                  <div class="attr-item">
                    <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                      onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                      <label class="ui2-checkbox-customize-label">
                        <input type="checkbox" class="ui2-checkbox-customize-val">
                        <span class="ui2-checkbox-customize-txt">3D Printed <em class="num">(28)</em></span>
                      </label>
                    </a>
                  </div>





              </div>
            </div>

          </div>

          <link href="//s.alicdn.com/@g/sc/list/0.1.5/sc-list/mod/attribute-filter/attribute-filter.css"
            crossorigin="anonymous" rel="stylesheet" type="text/css" media="all">
          <script>
            seajs.iuse("sc-list/mod/attribute-filter/attribute-filter.js")(function (attributeFilter) {
              attributeFilter({
                element: '#J-product-attribute-refine',
                lessTxt: '<i class="ui2-icon ui2-icon-subtract"></i> '
              });
            });
          </script>

          <link href="//s.alicdn.com/@g/sc/list/0.1.5/sc-list/mod/min-order/min-order.css" crossorigin="anonymous"
            rel="stylesheet" type="text/css" media="all">
          <script>
            seajs.iuse("sc-list/mod/min-order/min-order.js")(function (minOrder) {
              minOrder({
                element: '#J-m-min-order-refine'
              });
            });
          </script>
        </div>

        <div class="wrap-abox-filtercard" data-role="abox"></div>
        <div class="abox-title-wrap">
          <div class="abox-title" data-role="abox-title">
            <span class="abox-title-text">HOUSE EUI (Energy Use Intensity)</span>
          </div>
        </div>
        <div class="abox-content">
          <div data-spm="15" id="J-product-attribute-refine" class="">
            <div class="m-attribute-filter m-attribute-filter-vertical">

              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=4309162|pos=1'"
                    onclick="location.href='#';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Zero Energy House <em class="num">(21)</em></span>
                    </label>
                  </a>
                </div>


                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                    onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Energy Efficient / ≤ 30 kBTU/ft²  <em class="num">(483)</em></span>
                    </label>
                  </a>
                </div>


                  <div class="attr-item">
                    <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                      onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                      <label class="ui2-checkbox-customize-label">
                        <input type="checkbox" class="ui2-checkbox-customize-val">
                        <span class="ui2-checkbox-customize-txt">Energy Saving / 30-50 kBtu/ft² <em class="num">(1253)</em></span>
                      </label>
                    </a>
                  </div>

                  <div class="attr-item">
                    <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                      onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                      <label class="ui2-checkbox-customize-label">
                        <input type="checkbox" class="ui2-checkbox-customize-val">
                        <span class="ui2-checkbox-customize-txt">Basic Standard / 50-70 kBtu/ft² <em class="num">(5443)</em></span>
                      </label>
                    </a>
                  </div>

                  <div class="attr-item"></div>
                    <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                      onclick="location.href='#';" class="ui2-checkbox ui2-checkbox-customize">
                      <label class="ui2-checkbox-customize-label">
                        <input type="checkbox" class="ui2-checkbox-customize-val">
                        <span class="ui2-checkbox-customize-txt">Energy Efficiency Not Specified <em class="num">(24432)</em></span>
                      </label>
                    </a>
                  </div>

              </div>
            </div>

          </div>

          <link href="//s.alicdn.com/@g/sc/list/0.1.5/sc-list/mod/attribute-filter/attribute-filter.css"
            crossorigin="anonymous" rel="stylesheet" type="text/css" media="all">
          <script>
            seajs.iuse("sc-list/mod/attribute-filter/attribute-filter.js")(function (attributeFilter) {
              attributeFilter({
                element: '#J-product-attribute-refine',
                lessTxt: '<i class="ui2-icon ui2-icon-subtract"></i> '
              });
            });
          </script>
          <div data-spm="13" class="m-min-order" id="J-m-min-order-refine">
            <div data-role="minOrder" class="min-order">
              <span class="mo-txt"> Мин. заказ:
              </span>
              <input type="text" maxlength="30" id="dotFilterMoqt" data-role="moNum"
                class="ui2-textfield ui2-textfield-single ui2-textfield-small">
              <a rel="nofollow" href="javascript:;" data-ml="true" data-url="#" data-role="moOk"
                class="ui2-button ui2-button-default ui2-button-normal ui2-button-small" data-domdot="'">OK</a>
            </div>
          </div>

          <link href="//s.alicdn.com/@g/sc/list/0.1.5/sc-list/mod/min-order/min-order.css" crossorigin="anonymous"
            rel="stylesheet" type="text/css" media="all">
          <script>
            seajs.iuse("sc-list/mod/min-order/min-order.js")(function (minOrder) {
              minOrder({
                element: '#J-m-min-order-refine'
              });
            });
          </script>
        </div>




      <div class="wrap-abox-filtercard" data-role="abox">

        <div class="wrap-abox-title-filtercard">
          <div class="abox-title" data-role="abox-title">
            <i class="abox-title-icon material-icons">house</i>
            <span class="abox-title-text">FILTER by Features</span>
          </div>
        </div>

        <div class="wrap-abox-content-filtercard">
          <div data-spm="15" id="J-product-attribute-refine" class="">

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i
                    class="ui2-icon ui2-icon-arrow-up"></i><em>Stories</em></span>
              </div>
              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=4309162|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d4309162\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">One Story <em class="num">(21)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=6268465|pos=2'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d6268465\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Two Stories <em class="num">(88)</em></span>
                    </label>
                  </a>
                </div>

              </div>
            </div>

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i
                    class="ui2-icon ui2-icon-arrow-up"></i><em>Square</em></span>
              </div>
              <div class="attrs-box" data-role="attrs-box">
                  <div class="attr-item">
                    <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=4309162|pos=1'"
                      onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d4309162\x26';"
                      class="ui2-checkbox ui2-checkbox-customize">
                      <label class="ui2-checkbox-customize-label">
                        <input type="checkbox" class="ui2-checkbox-customize-val">
                        <span class="ui2-checkbox-customize-txt">tiny up to 500 Sq.ft <em class="num">(21)</em></span>
                      </label>
                    </a>
                  </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=4309162|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d4309162\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">500-1000 Sq.ft <em class="num">(21)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=6268465|pos=2'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d6268465\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">1000-2000 Sq.ft <em class="num">(88)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d3282352\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">2000-3000 Sq.ft <em class="num">(3)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d3282352\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">over 3000 Sq.ft <em class="num">(3)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>




      <div class="abox-wrap" data-role="abox">
        <div class="abox-title-wrap">
          <div class="abox-title" data-role="abox-title">
            <i class="abox-title-icon material-icons">person</i>
            <span class="abox-title-text">Filter by ROOMS</span>
          </div>
        </div>
        <div class="abox-content">
          <div data-spm="15" id="J-product-attribute-refine" class="">

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em
                    class="">Bedrooms</em></span>
              </div>

              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19510|valueId=47638071|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19510\x2d47638071\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">1 Bedroom <em class="num">(6)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19510|valueId=47638071|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19510\x2d47638071\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">2 Bedrooms <em class="num">(6)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19510|valueId=47638071|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19510\x2d47638071\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">3 Bedrooms <em class="num">(6)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19510|valueId=47638071|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19510\x2d47638071\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">24 Bedrooms or more <em class="num">(6)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em
                    class="">Bathrooms</em></span>
              </div>
              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19007|valueId=3278408|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19007\x2d3278408\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">stock <em class="num">(111)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>



          </div>

        </div>
      </div>

      <div class="abox-wrap" data-role="abox">
        <div class="abox-title-wrap">
          <div class="abox-title" data-role="abox-title">
            <i class="abox-title-icon material-icons">person</i>
            <span class="abox-title-text">ADDITIONALLY</span>
          </div>
        </div>
        <div class="abox-content">
          <div data-spm="15" id="J-product-attribute-refine" class="">

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em
                    class="">Garage, Carport</em></span>
              </div>

              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19510|valueId=47638071|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19510\x2d47638071\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">remy hair <em class="num">(6)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em
                    class="">Статус
                    продукта</em></span>
              </div>
              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19007|valueId=3278408|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19007\x2d3278408\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">stock <em class="num">(111)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em>Тип
                    версии</em></span>
              </div>
              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=4309162|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d4309162\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">ENTERPRISE <em class="num">(21)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=6268465|pos=2'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d6268465\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Internet <em class="num">(88)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d3282352\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Home <em class="num">(3)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="abox-wrap" data-role="abox">
        <div class="abox-title-wrap">
          <div class="abox-title" data-role="abox-title">
            <i class="abox-title-icon material-icons">person</i>
            <span class="abox-title-text">FILTER by Materials</span>
          </div>
        </div>
        <div class="abox-content">
          <div data-spm="15" id="J-product-attribute-refine" class="">

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em
                    class="">Basement</em></span>
              </div>

              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19510|valueId=47638071|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19510\x2d47638071\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">remy hair <em class="num">(6)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em
                    class="">Wall</em></span>
              </div>
              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19007|valueId=3278408|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19007\x2d3278408\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">stock <em class="num">(111)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i
                    class="ui2-icon ui2-icon-arrow-up"></i><em>Кровля</em></span>
              </div>
              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=4309162|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d4309162\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">ENTERPRISE <em class="num">(21)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=6268465|pos=2'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d6268465\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Internet <em class="num">(88)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d3282352\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Home <em class="num">(3)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="abox-wrap" data-role="abox">
        <div class="abox-title-wrap">
          <div class="abox-title" data-role="abox-title">
            <i class="abox-title-icon material-icons">person</i>
            <span class="abox-title-text">FILTER by Avtors</span>
          </div>
        </div>
        <div class="abox-content">
          <div data-spm="15" id="J-product-attribute-refine" class="">

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em
                    class="">Класс
                    волос</em></span>
              </div>

              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19510|valueId=47638071|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19510\x2d47638071\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">remy hair <em class="num">(6)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em
                    class="">Статус
                    продукта</em></span>
              </div>
              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19007|valueId=3278408|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19007\x2d3278408\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">stock <em class="num">(111)</em></span>
                    </label>
                  </a>
                </div>
              </div>
            </div>

            <div class="m-attribute-filter m-attribute-filter-vertical">
              <div class="attrs-title">
                <span class="box-title" data-role="box-title"><i class="ui2-icon ui2-icon-arrow-up"></i><em>Тип
                    версии</em></span>
              </div>
              <div class="attrs-box" data-role="attrs-box">
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=4309162|pos=1'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d4309162\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">ENTERPRISE <em class="num">(21)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=6268465|pos=2'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d6268465\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Internet <em class="num">(88)</em></span>
                    </label>
                  </a>
                </div>
                <div class="attr-item">
                  <a href="javascript:;" rel="nofollow" data-domdot="id:2706,ext:'attrId=19073|valueId=3282352|pos=3'"
                    onclick="location.href='\x2f\x2frussian.alibaba.com\x2ftrade\x2fsearch\x3ffsb\x3dy\x26IndexArea\x3dproduct_en\x26keywords\x3dalibaba\x2bofficial\x2bwebsite\x26refineAttrs\x3d19073\x2d3282352\x26';"
                    class="ui2-checkbox ui2-checkbox-customize">
                    <label class="ui2-checkbox-customize-label">
                      <input type="checkbox" class="ui2-checkbox-customize-val">
                      <span class="ui2-checkbox-customize-txt">Home <em class="num">(3)</em></span>
                    </label>
                  </a>
                </div>






              </div>
            </div>

          </div>

        </div>
      </div>

    
  
