<div class="wrap-createaccount__global">

  <div class="brand-createaccount__global"> Houseplans.Center</div>

  <div class="content-createaccount__global">

    <div class="gridcontainer-content-createaccount__global">

      <div class="wrap-name-gridcontainer-content__global">
        <app-name-createaccount-modal-global></app-name-createaccount-modal-global> 
      </div>

      <div class="wrap-buttonclose-gridcontainer-content__global">
      </div>

      <div class="wrap-terms-gridcontainer-content__global">
        <app-terms-createaccount-modal-global></app-terms-createaccount-modal-global>        
      </div>

      <div class="wrap-select-gridcontainer-content__global">
        <app-select-createaccount-modal-global></app-select-createaccount-modal-global>        
      </div>

      <div class="wrap-ern-gridcontainer-content__global">
        <app-ern-createaccount-modal-global></app-ern-createaccount-modal-global>      
      </div>

      <div class="wrap-email-gridcontainer-content__global">
        <app-email-createaccount-modal-global></app-email-createaccount-modal-global>        
      </div>

      <div class="wrap-password-gridcontainer-content__global">
        <app-password-createaccount-modal-global></app-password-createaccount-modal-global>       
      </div>

      <div class="wrap-buttoncontinue-gridcontainer-content__global">    
        <app-buttoncontinue-createaccount-modal-global></app-buttoncontinue-createaccount-modal-global>
      </div>

      <div class="wrap-socialaccounts-gridcontainer-content__global">
        <app-socialaccounts-createaccount-modal-global></app-socialaccounts-createaccount-modal-global>    
      </div>

      <div class="wrap-additionalinfo-gridcontainer-content__global">
     
      </div>

    </div>
  </div>

  <span class="returntohome-footer">
    <a routerLink="/">Return to Home</a>
  </span>

  <div class="footer-createaccount__global">
    
    <div class="terms-footer">
    <p>
      <a class="conditionsuse-footer" target="_blank" href="/conditionsuse">Conditions of Use</a>
      <a class="privacynotice-footer" target="_blank" href="/privacynotice">Privacy Notice</a>
      <a class="help-footer" target="_blank" href="/help">Help</a>
    </p>
  </div>
  
  <span class="rights-footer">
    &copy; {{ currentYear }} Houseplans.Center, Inc. or its affiliates. All rights reserved.
  </span>
  </div>


</div>