
<div class="wrap-page-investorcenter-global"><app-breadcrumb-global></app-breadcrumb-global></div>


<div class="wrap-page-investorcenter-global">

  <div>
    <h1>About:</h1>
    <p>Your Dream Home: From Idea to Realization, All on One Platform </p>
    <p><a href="http://houseplans.top" target="_blank" rel="noopener noreferrer">>>> see details about the idea, concepts,
      implementation</a> </p>

  </div>
  <div>
    <h1>Website:</h1>
    <p><a href="http://houseplans.top" target="_blank" rel="noopener noreferrer">Houseplans.top</a></p>
  </div>
  <div>
    <h1>Industry:</h1>
    <p>Construction, Consumer, E-Commerce, Mobile App</p>
  </div>
  <div>
    <h1>Funding:</h1>
    <p><u>Founded: 2024</u>
      <br>We have not participated in any startup funding rounds, and as of now, we have not submitted any applications
    </p>
  </div>
  <div>
    <h1>📍HQ:</h1>
    <p><u>UKRAINE</u><br>We are exploring the option of relocating our operations from Ukraine to either the United
      States or Europe</p>
  </div>
  <div>
    <h1>See who works here:</h1>
    <p>FOUNDER & SEO, Linkedin: <a href="https://www.linkedin.com/in/yevhenii-tkachenko-44b65ww5296/" target="_blank"
        rel="noopener noreferrer">Yevhenii Tkachenko</a></p>
  </div>
</div>
