<div id="page-container">

  <!-- Advertising section above the header -->
  <aside id="ad-container">
    <app-banner-aboveheader-global></app-banner-aboveheader-global>
  </aside>

  <!-- Header -->
  <header id="header-container">
    <app-header-global></app-header-global>
  </header>

  <!-- Breadcrumb navigation -->
  <nav id="breadcrumbs-container">
    <app-breadcrumb-global></app-breadcrumb-global>
  </nav>

  <!-- Main content -->
  <main id="main-container">
    <!-- <<app-main-content-houseplans></app-main-content-houseplans>-->
  </main>

  <!-- Additional content -->
  <section class="additional-container">
    <!--  <app-viewed-products></app-viewed-products>-->
  </section>

  <!-- Right sidebar -->
  <aside id="sidebarright-container">
    <!-- <app-sidebarright-global></app-sidebarright-global>-->
  </aside>

  <!-- Footer -->
  <footer id="footer-container">
    <!-- < <app-footer-global></app-footer-global>-->
  </footer>

</div>
class="wrapper-page-partnership-global">

  <div>
    <p>page-partnership-global works!</p>
  </div>

  <div>
