@import '../../../../../../../styles/styles';

/* ..................... */

.wrap-cart {
  width: 60px;
    height: 44px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
}

.wrap-cart:hover .icon-cart {
  color: $accent-color;
}

.wrap-cart:hover  {
  border: 1px solid white;
    border-radius: 2px;
}







.wrap-cart:hover .reviews-cart {
  color: $accent-color;
}

.icon-cart {
  color: white;
  margin-top: 2px;
  font-size: 18px;
}

.name-icon-cart a { 
  font-size: 13px;
  color: rgb(46, 45, 45)
}

.reviews-cart {
  font-size: 12px;
  color: white;
  position: relative;
  bottom: 10px;
  margin-left: 2px; 
}