@import '../../../../../styles/styles';

/* ..................... */

.not-found {
  text-align: center;
  margin-top: 50px;
}

.not-found h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.not-found p {
  font-size: 1.2em;
}

.not-found a {
  color: #007bff;
  text-decoration: none;
}