<div class="wrap-createaccountmodal__global">
  <div class="gridcontainer-createaccountmodal__global">

    <div class="wrap-name-createaccountmodal__global">
      <app-name-createaccount-modal-global></app-name-createaccount-modal-global>
    </div>

    <div class="wrap-buttonclose-createaccountmodal__global">
      <app-buttonclose-createaccount-modal-global></app-buttonclose-createaccount-modal-global>
    </div>

    <div class="wrap-select-createaccountmodal__global">
      <app-select-createaccount-modal-global></app-select-createaccount-modal-global>
    </div>

    <div class="wrap-ern-createaccountmodal__global">
      <app-ern-createaccount-modal-global></app-ern-createaccount-modal-global>
    </div>

    <div class="wrap-email-createaccountmodal__global">
      <app-email-createaccount-modal-global></app-email-createaccount-modal-global>
    </div>

    <div class="wrap-password-createaccountmodal__global">
      <app-password-createaccount-modal-global></app-password-createaccount-modal-global>
    </div>

    <div class="wrap-buttoncontinue-createaccountmodal__global">
      <app-buttoncontinue-createaccount-modal-global></app-buttoncontinue-createaccount-modal-global>
    </div>

    <div class="wrap-terms-createaccountmodal__global">
      <app-terms-createaccount-modal-global></app-terms-createaccount-modal-global>
    </div>

    <div class="wrap-socialaccounts-createaccountmodal__global">
      <app-socialaccounts-createaccount-modal-global></app-socialaccounts-createaccount-modal-global>
    </div>

    <div class="wrap-additionalinfo-createaccountmodal__global">
    <app-additioninfo-createaccount-modal-global></app-additioninfo-createaccount-modal-global>
    </div>

  </div>
</div>
