@import '../../../../../../styles/styles';

.wrap-createaccountmodal__global {
  width: auto;
  height: auto;
  width: 350px;
  box-sizing: border-box;
  border: 1px solid rgb(222, 222, 222);
  background-color: white;
  box-shadow: 0px 0px 3px 3px #F7FEFF;
  border-radius: 8px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  cursor: default;
  box-shadow: 0px 0px 3px 3px #F7FEFF;
}

.gridcontainer-createaccountmodal__global {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:
    [row1-start] auto
    /* wrap-name-createaccountmodal__global */
    /*wrap-buttonclose-createaccountmodal__global */
    [row2-start] auto
    /* wrap-select-createaccountmodal__global */
    [row3-start] auto
    /* wrap-ern-createaccountmodal__global */
    [row4-start] auto
    /* wrap-email-createaccountmodal__global */
    [row5-start] auto
    /* wrap-password-createaccountmodal__global */
    [row6-start] auto
    /* wrap-buttoncontinue-createaccountmodal__global */
    [row7-start] auto
    /* wrap-terms-createaccountmodal__global */
    [row8-start] auto
    /* socialaccounts-createaccountmodal__global */
    [row9-start] auto
    /* wrap-additionalinfo-createaccountmodal__global */
  ;
  box-sizing: border-box;
  position: relative;
  padding: 20px;
}


.wrap-name-createaccountmodal__global {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}

.wrap-buttonclose-createaccountmodal__global {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  justify-self: end;
}


.wrap-select-createaccountmodal__global {
  grid-row: 2 / 3;
  grid-column: 1 / 5;
}

.wrap-ern-createaccountmodal__global {
  grid-row: 3 / 4;
  grid-column: 1 / 5;
}

.wrap-email-createaccountmodal__global {
  grid-row: 4 / 5;
  grid-column: 1 / 5;
}

.wrap-password-createaccountmodal__global {
  grid-row: 5 / 6;
  grid-column: 1 / 5;
}

.wrap-buttoncontinue-createaccountmodal__global {
  grid-row: 6 / 7;
  grid-column: 1 / 5;
}

.wrap-terms-createaccountmodal__global {
  grid-row: 7 / 8;
  grid-column: 1 / 5;
}

.wrap-socialaccounts-createaccountmodal__global {
  grid-row: 8 / 9;
  grid-column: 1 / 5;
}

.wrap-additionalinfo-createaccountmodal__global {
  grid-row: 9 / 10;
  grid-column: 1 / 5;
}
