@import '../../../../../../../styles/styles';

.name-createaccountmodal {
  margin-top: 2px;
}

.text-name-createaccountmodal {
  font-size: 30px;
  font-weight: 400;
  color: $accent-color;
}

.ad-text-name-createaccountmodal {
  font-size: 14px;
  font-weight: 500;
  color: black
}
