<div id="page-container">

  <!-- Advertising section above the header -->
  <aside id="ad-container">
  </aside>

  <!-- Header -->
  <header id="header-container">
    <app-header-global></app-header-global>
  </header>

  <!-- Main content -->
  <main id="main-container">
    <div class="wrapper-main-partnership">

      <div class="name-partnership">Welcome to Investor Center.
      </div>

      <div class="adtext-name-partnership">What's of interest to you? You can quickly review the information here, or
        connect with us when needed.
      </div>

      <div class="content-partnership">

        <div class="block-investment" routerLink="/investing-about-us">
          <div>
            <i class="icon material-icons">info</i>
          </div>
          <div class="infotext">About Us
          </div>
        </div>

        <div class="block-investment" routerLink="/investing-goals">
          <div>
            <i class="icon material-icons">trending_up</i>
          </div>
          <div class="infotext">Our Goals
          </div>
        </div>

        <div class="block-investment" routerLink="/investing-team">
          <div>
            <i class="icon material-icons">group</i>
          </div>
          <div class="infotext">Team
          </div>
        </div>

        <div class="block-investment" routerLink="/investing-contact-us">
          <div>
            <i class="icon material-icons">contacts</i>
          </div>
          <div class="infotext">Contact Us
          </div>
        </div>


        <div class="block-reserve-investment" routerLink="/investing-projects">
          <div>
            <i class="icon material-icons">monetization_on</i>
          </div>
          <div class="infotext">Projects for Investment
          </div>
        </div>

        <div class="block-reserve-investment" routerLink="/investing-financing-terms">
          <div>
            <i class="icon material-icons">description</i>
          </div>
          <div class="infotext">Investment Terms
          </div>
        </div>

        <div class="block-reserve-investment" routerLink="/investing-information">
          <div>
            <i class="icon material-icons">book</i>
          </div>
          <div class="infotext">Investor Information
          </div>
        </div>

        <div class="block-reserve-investment" routerLink="/investing-financial-reports">
          <div>
            <i class="icon material-icons">bar_chart</i>
          </div>
          <div class="infotext">Financial Repots
          </div>
        </div>

      </div>
    </div>

  </main>

  <!-- Additional content -->
  <section class="additional-container">
    <!--  <app-viewed-products></app-viewed-products>-->
  </section>

  <!-- Footer -->
  <footer id="footer-container">
    <!-- < <app-footer-global></app-footer-global>-->
  </footer>

</div>