@import '../../../../../styles/styles';

/* ..................... */

.wrapper-page-investorcenter-global {

  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 40px;
  text-align: center;

}