@import '../../../../../../styles/styles';

/* ..................... */

.page-container {
  max-width: 1686px;
  margin: 0 auto;
}

#header-container {}

#nav-container {}

#content-container {
  margin: 20px;
}