<div class="page-container">

  <!-- Header -->
  <header id="header-container">
    <app-header-global></app-header-global>
  </header>

  <!-- Submenu partnerships -->
  <nav id="nav-container" role="navigation">
    <app-investors-submenu-global></app-investors-submenu-global>
  </nav>

  <!-- Сontent container -->
  <main id="content-container">

    ....................CONTACT US



  </main>

  <!-- Footer -->
  <footer id="footer-container">
    <!-- <app-footer-global></app-footer-global>-->
  </footer>

</div>