@import '../../../../../../styles/styles';

.wrap-singinmodal__global {
  width: auto;
  height: auto;
  width: 350px;  
  box-sizing: border-box;
  border: 1px solid rgb(222, 222, 222);
  background-color: white;
  box-shadow: 0px 0px 3px 3px #F7FEFF;
  border-radius: 8px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  cursor: default;
  box-shadow: 0px 0px 3px 3px #F7FEFF;
}

.gridcontainer-singinmodal__global {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:
    [row1-start] auto
    /* wrap-name-singinmodal__global */
    /*wrap-buttonclose-singinmodal__global */
    [row2-start] auto
    /* wrap-wrap-select-singinmodal__global */
    [row3-start] auto
    /* wrap-email-singinmodal__global */
    [row4-start] auto
    /* wrap-password-singinmodal__global */
    [row5-start] auto
    /* wrap-buttonsingin-singinmodal__global */
    [row6-start] auto
    /* socialaccounts-singinmodal__global */
    [row7-start] auto
    /* wrap-additionalinfo-singinmodal__global */
  ;
  box-sizing: border-box;
  position: relative;
  padding: 20px;
}


.wrap-name-singinmodal__global {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}

.wrap-buttonclose-singinmodal__global {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  justify-self: end;
}

.wrap-select-singinmodal__global {
  grid-row: 2 / 3;
  grid-column: 1 / 5;
}

.wrap-email-singinmodal__global {
  grid-row: 3 / 4;
  grid-column: 1 / 5;
}

.wrap-password-singinmodal__global {
  grid-row: 4 / 5;
  grid-column: 1 / 5;
}

.wrap-buttonsingin-singinmodal__global {
  grid-row: 5 / 6;
  grid-column: 1 / 5;
}

.wrap-socialaccounts-singinmodal__global {
  grid-row: 6 / 7;
  grid-column: 1 / 5;
}

.wrap-additionalinfo-singinmodal__global {
  grid-row: 7 / 8;
  grid-column: 1 / 5;
}