<div class="wrap-singinmodal__global">

  <div class="gridcontainer-singinmodal__global">

    <div class="wrap-name-singinmodal__global">
      <app-name-singin-modal-global></app-name-singin-modal-global>
    </div>

    <div class="wrap-buttonclose-singinmodal__global">
      <app-buttonclose-singin-modal-global></app-buttonclose-singin-modal-global>
    </div>

    <div class="wrap-select-singinmodal__global">
      <app-select-singin-modal-global></app-select-singin-modal-global>
    </div>

    <div class="wrap-email-singinmodal__global">
      <app-email-singin-modal-global></app-email-singin-modal-global>
    </div>

    <div class="wrap-password-singinmodal__global">
      <app-password-singin-modal-global></app-password-singin-modal-global>
    </div>

    <div class="wrap-buttonsingin-singinmodal__global">
      <app-buttonsingin-singin-modal-global></app-buttonsingin-singin-modal-global>
    </div>

    <div class="wrap-socialaccounts-singinmodal__global">
      <app-socialaccoutns-singin-modal-global></app-socialaccoutns-singin-modal-global>
    </div>

    <div class="wrap-additionalinfo-singinmodal__global">
      <app-additionalinfo-singin-modal-global></app-additionalinfo-singin-modal-global>
    </div>

  </div>
</div>