<div class="regionalexpert-grid">


  <div class="text-regionalexpert-grid-item">
      <div class="icon-regionalexpert">
        <span class="icon-regionalexpert-size material-icons" title="">people</span>
      </div>
    <div class="text-regionalexpert">Best Regional Experts</div>
    <sup id="productcard_houseplans_ref-4" class="reference"><a href="#productcard_houseplans_note-4" class="link-with-help-cursor" (click)="openModalOnClick()">[4]</a></sup>
  </div>


  <div id="aicostestimator__houseplans">
    <div class="overlay-regionalexpert">
      <div class="name-regionalexpert">
        Landbrokers
      </div>
      <div class="expand-regionalexpert">
        <span class="expand-regionalexpert-size material-icons" title="">chevron_right</span>
      </div>
    </div>
  </div>



  <div id="humancostestimator__houseplans">
    <div class="overlay-regionalexpert">

      <div class="name-regionalexpert">
        Permitters
      </div>
      <div class="expand-regionalexpert">
        <span class="expand-regionalexpert-size material-icons" title="">chevron_right</span>
      </div>
    </div>
  </div>



  <div id="humancostestimator__houseplans">
    <div class="overlay-regionalexpert">

      <div class="name-regionalexpert">
        Homebuilders
      </div>
      <div class="expand-regionalexpert">
        <span class="expand-regionalexpert-size material-icons" title="">chevron_right</span>
      </div>
    </div>
  </div>











</div>
