<div class="wrap-center-header__global">

  <div id="logo-center-header__global">
    <app-logo-center-header-global></app-logo-center-header-global>
  </div>

  <div id="searchbar-center-header__global">
    <app-searchbar-center-header-global></app-searchbar-center-header-global>
  </div>

  <div id="languageselection-center-header__global">
    <app-languageselection-center-header-global></app-languageselection-center-header-global>
  </div>

  <div id="registration-center-header__global">
    <app-registration-center-header-global></app-registration-center-header-global>
  </div>

  <div id="registration-center-header__global">
    <app-message-center-header-global></app-message-center-header-global>
  </div>

  <div id="basket-center-header__global">
    <app-basket-center-header-global></app-basket-center-header-global>
  </div>

</div>
