@import '../../../../../../styles/styles';

/* ..................... */

.wrap-center-header__global {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  clear: both;
  position: relative;
  box-sizing: border-box;
  flex-flow: row nowrap;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

#logo-center-header__global {}

#searchbar-center-header__global {
  display: flex;
}

#languageselection-center-header__global {}

#registration-center-header__global {}

#message-center-header__global {}

#basket-center-header__global {}
