@import '../../../../../../styles/styles';

/* ..................... */

.wrap-center-header__global {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  clear: both;
  position: relative;
  box-sizing: border-box;
  flex-flow: row nowrap;
  width: 100%;
  border-bottom: 1px solid #b1e0ff;   
  background: linear-gradient(to top, #f8f9fa 0%, transparent 50%); 



}


#allmenu-center-header__global {}

#departament-center-header__global {
  display: flex;
  align-items: center; 
  cursor: pointer;
  width: auto;
  margin-left: 10px;
  font-weight: 500;   
}