<div class="wrap-center-header__global">

  <div id="wrap-all-menu">
    <div class="icon-all-menu">
      <span class="material-icons">menu</span>
    </div>
    <div class="text-all-menu">All</div>
  </div>

  <div id="wrap-select-state">
    <div class="icon-all-menu">
      <app-regionselect-global></app-regionselect-global>
    </div>    
  </div>

  <div id="wrap-category-menu">
    <nav class="category-menu">
      <ul>
        <li class="start-item-menu">
          <a routerLink="/houseplans" routerLinkActive="active-link">Houseplans</a>
        </li>

        <li class="item-develop-menu" title="We're working on this section. Check back soon for updates">
          <a routerLink="/architects" routerLinkActive="active-link">Architects</a>
        </li>

        <li class="item-develop-menu" title="We're working on this section. Check back soon for updates">
          <a routerLink="/permitting" routerLinkActive="active-link">Permit Assistance</a>
        </li>

        <li class="item-develop-menu" title="We're working on this section. Check back soon for updates">
          <a routerLink="/builders" routerLinkActive="active-link">Builders</a>
        </li>

        <li class="item-develop-menu" title="We're working on this section. Check back soon for updates">
          <a routerLink="/suppliers" routerLinkActive="active-link">Suppliers</a>
        </li>

        <li class="item-develop-menu" title="We're working on this section. Check back soon for updates">
          <a routerLink="/landexperts" routerLinkActive="active-link">Land Experts</a>
        </li>

        <li class="item-develop-menu" title="We're working on this section. Check back soon for updates">
          <a routerLink="/homesshop" routerLinkActive="active-link">Home Store</a>
        </li>

        <li class="item-develop-menu" title="We're working on this section. Check back soon for updates">
          <a routerLink="/financing" routerLinkActive="active-link">Financing</a>
        </li>

      </ul>
    </nav>
  </div>

</div>