@import '../../../../../../styles/styles';

.wrap-center-header__global {
  display: flex;
  align-items: center;
  height: 40px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #b1e0ff;
  background: linear-gradient(to top, #f8f9fa 0%, transparent 50%);
}

#wrap-all-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 80px 0 20px;
  font-weight: 500;
  border: 1px solid transparent;
  padding: 0 5px; 
}

#wrap-all-menu:hover {
  border: 1px solid $accent-color;
  border-radius: 2px;
  color: $accent-color;
}

.icon-all-menu {
  margin-top: 10px;
}

.text-all-menu {
  font-size: 17px;
  margin-top: 8px;
  margin-left: 2px;
}

#wrap-select-state {
  display: flex;
  margin-right: 10px; 
  align-items: center; 
}

.select-state {}

#wrap-category-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  justify-content: space-between;
}

.category-menu {
  display: flex;
  padding: 0;
  margin-left: 20px;
}

.category-menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  align-items: center;
}

.start-item-menu,
.item-develop-menu {
  font-size: 14px;
  border-bottom: 1px solid rgba(51, 153, 221, 0.5);
  border-right: 1px solid rgba(51, 153, 221, 0.5);
  height: 40px;
  display: flex;
  align-items: center;
  margin: 0;
  white-space: normal;
  box-sizing: border-box;
}

.start-item-menu {
  border-left: 1px solid rgba(51, 153, 221, 0.5);
}

.start-item-menu:hover {
  color: $accent-color;
  cursor: pointer;
  text-decoration: underline;
}

.start-item-menu a {
  color: inherit;
}

.item-develop-menu {
  cursor: not-allowed;
  color: #dcdcdc;
  font-weight: 400;
}

.item-develop-menu:hover {
  border-bottom: none;
}

.item-develop-menu a {
  cursor: not-allowed;
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: none;
}

li a {
  display: block;
  width: calc(100% + 2px);
  height: 100%;
  padding: 15px 15px;
  margin-bottom: -2px;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

li:hover {
  border-bottom: none;
}

.active-link {
  background-color: $background-color;
  color: $accent-color;
  font-weight: 500;
  text-decoration: underline;
  border-bottom: none;
}

li.active {
  border-bottom: none;
}

li a.active-link {
  border-bottom: none;
}

a.active-link {
  background-color: $background-color;
  color: $accent-color;
  font-weight: 500;
  text-decoration: underline;
  border-bottom: none;
}

.start-item-menu a.active-link,
.item-develop-menu a.active-link {
  background-color: $background-color;
  color: $accent-color;
  font-weight: 500;
  text-decoration: underline;
  border-bottom: none;
  box-sizing: border-box;
}