<div class="wrap-center-header__global">

  <div id="wrap-all-menu">
    <div class="icon-all-menu">
      <span class="material-icons">menu</span>
    </div>
    <div class="text-all-menu">All</div>
  </div>

  <div id="wrap-category-menu">
    <nav class="category-menu">
      <ul>
        <li class="start-item-menu"  routerLink="/houseplans" routerLinkActive="active-link">Houseplans</li>
        <li class="item-develop-menu" title="We're working on this section. Check back soon for updates" routerLink="/architects" routerLinkActive="active-link">Architects </li>
        <li class="item-develop-menu" title="We're working on this section. Check back soon for updates" routerLink="/permitting" routerLinkActive="active-link">Permit Assistance</li>
        <li class="item-develop-menu" title="We're working on this section. Check back soon for updates" routerLink="/builders" routerLinkActive="active-link">Builders</li>
        <li class="item-develop-menu" title="We're working on this section. Check back soon for updates" routerLink="/suppliers" routerLinkActive="active-link">Suppliers</li>
        <li class="item-develop-menu" title="We're working on this section. Check back soon for updates" routerLink="/landexperts" routerLinkActive="active-link">Land Experts</li>
        <li class="item-develop-menu" title="We're working on this section. Check back soon for updates" routerLink="/homesshop" routerLinkActive="active-link">Home Store</li>
        <li class="item-develop-menu" title="We're working on this section. Check back soon for updates" routerLink="/financing" routerLinkActive="active-link">Financing</li>
      </ul>
    </nav>
  </div>

</div>