
<div class="wrap-personalhelpcard-page-catalog__houseplans">
  <div class="gridcontainer-personalhelpcard-page-catalog__houseplans">
    <div class="wrap-name-personalhelpcard__houseplans">
      <app-name-personalhelpcard-page-catalog-houseplans></app-name-personalhelpcard-page-catalog-houseplans>
    </div>
    <div class="wrap-buttonclose-personalhelpcard__houseplans" >
      <app-buttonclose-personalhelpcard-page-catalog-houseplans></app-buttonclose-personalhelpcard-page-catalog-houseplans>
    </div>
    <div class="wrap-usercontact-personalhelpcard__houseplans">
      <app-usercontact-personalhelpcard-page-catalog-houseplans></app-usercontact-personalhelpcard-page-catalog-houseplans>
    </div>
    <div class="wrap-stateselect-personalhelpcard__houseplans">
      <app-stateselect-personalhelpcard-page-catalog-houseplans></app-stateselect-personalhelpcard-page-catalog-houseplans>
    </div>
    <div class="wrap-landselect-personalhelpcard__houseplans">
      <app-landselect-personalhelpcard-page-catalog-houseplans></app-landselect-personalhelpcard-page-catalog-houseplans>
    </div>
    <div class="wrap-timeselect-personalhelpcard__houseplans">
      <app-timeselect-personalhelpcard-page-catalog-houseplans></app-timeselect-personalhelpcard-page-catalog-houseplans>
    </div>
    <div class="wrap-builderselect-personalhelpcard__houseplans">
      <app-builderselect-personalhelpcard-page-catalog-houseplans></app-builderselect-personalhelpcard-page-catalog-houseplans>
    </div>
    <div class="wrap-supplierselect-personalhelpcard__houseplans">
      <app-supplierselect-personalhelpcard-page-catalog-houseplans></app-supplierselect-personalhelpcard-page-catalog-houseplans>
    </div>
    <div class="wrap-messagerselect-personalhelpcard__houseplans">
      <app-messagerselect-personalhelpcard-page-catalog-houseplans></app-messagerselect-personalhelpcard-page-catalog-houseplans>
    </div>
    <div class="wrap-buttonsend-personalhelpcard__houseplans">
      <app-buttonsend-personalhelpcard-page-catalog-houseplans></app-buttonsend-personalhelpcard-page-catalog-houseplans>
    </div>
    <div class="wrap-additionalinfo-personalhelpcard__houseplans">
      <app-additionalinfo-personalhelpcard-page-catalog-houseplans></app-additionalinfo-personalhelpcard-page-catalog-houseplans>
    </div>
    <div class="wrap-terms-personalhelpcard__houseplans">
      <app-terms-personalhelpcard-page-catalog-houseplans></app-terms-personalhelpcard-page-catalog-houseplans>
    </div>
  </div>
</div>

