<div class="wrap-personalhelpwidget-page-main__global">
  <div class="gridcontainer-personalhelpwidget-page-main__global">

    <div class="wrap-name-personalhelpwidget__global">
      <app-name-personalhelpwidget-page-main-global></app-name-personalhelpwidget-page-main-global>
    </div>

    <div class="wrap-buttonclose-personalhelpwidget__global">
      <app-buttonclose-personalhelpcard-page-catalog-houseplans></app-buttonclose-personalhelpcard-page-catalog-houseplans>
    </div>

    <div class="wrap-stateselect-personalhelpwidget__global">
      <app-stateselect-personalhelpwidget-page-main-global></app-stateselect-personalhelpwidget-page-main-global>
    </div>


    <div class="wrap-optionselect-personalhelpwidget__global">
      <app-optionselect-personalhelpwidget-page-main-global></app-optionselect-personalhelpwidget-page-main-global>

    </div>
    <div class="wrap-buttonsend-personalhelpwidget__global">
      <app-buttonsend-personalhelpwidget-page-main-global></app-buttonsend-personalhelpwidget-page-main-global>

    </div>
    <div class="wrap-terms-personalhelpwidget__global">
      <app-terms-personalhelpwidget-page-main-global></app-terms-personalhelpwidget-page-main-global>
    </div>
    <div class="wrap-additionalinfo-personalhelpwidget__global">
      <app-additionalinfo-personalhelpwidget-page-main-global></app-additionalinfo-personalhelpwidget-page-main-global>

    </div>
    <div class="wrap-accountcreate-personalhelpwidget__global">
      <app-accountcreate-personalhelpwidget-page-main-global></app-accountcreate-personalhelpwidget-page-main-global>

    </div>
  </div>
</div>
