@import '../../../../../../styles/styles';

.wrap-personalhelpwidget-page-main__global {
  width: auto;
  height: auto;
  width: 350px;
  height: 480px;
  box-sizing: border-box;
  border: 1px solid rgb(222, 222, 222);
  background-color: white;
  box-shadow: 0px 0px 3px 3px #F7FEFF;
  border-radius: 8px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  cursor: default;
}

.gridcontainer-personalhelpwidget-page-main__global {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:
    [row1-start] 20px
    /* wrap-name-personalhelpwidget__global */
    /* wrap-buttonclose-personalhelpwidget__global */
    [row2-start] auto
    /* wrap-optionselect-personalhelpwidget__global */
    [row3-start] auto
    /* wrap-buttonsend-personalhelpwidget__global */
    [row4-start] auto
    /* wrap-terms-personalhelpwidget__global */
    [row5-start] auto
    /* wrap-additionalinfo--personalhelpwidget__global */
  ;
  box-sizing: border-box;
  position: relative;
  padding: 20px;
}


.wrap-name-personalhelpwidget__global {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}

.wrap-buttonclose-personalhelpwidget__global {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  justify-self: end;
}

.wrap-stateselect-personalhelpwidget__global {
  grid-row: 2 / 3;
  grid-column: 1 / 5;
}

.wrap-optionselect-personalhelpwidget__global {
  grid-row: 3 / 4;
  grid-column: 1 / 5;
}

.wrap-buttonsend-personalhelpwidget__global {
  grid-row: 4 / 5;
  grid-column: 1 / 5;
}

.wrap-terms-personalhelpwidget__global {
  grid-row: 5 / 6;
  grid-column: 1 / 5;
}

.wrap-additionalinfo-personalhelpwidget__global {
  grid-row: 6 / 7;
  grid-column: 1 / 5;
}

.wrap-accountcreate-personalhelpwidget__global {
  grid-row: 7 / 8;
  grid-column: 1 / 5;
}