@import '../../../../../styles/styles';

/* ..................... */

.page-container {
  max-width: 1686px;
  margin: 0 auto;
}

#content-container {

}

.banner-container {
  height: 250px;
  width: 100%;
  background-color: #E3E6E6;
  display: flex;
}

#header-container {}

#breadcrumbs-container {
  color: $breadcrumb-color;
  margin: 10px 265px;
  height: 16px;
  font-size: 13px;
  font-style: $font-style-italic;
}

#main-container__houseplans {
  display: grid;
  grid-template-columns: 280px 1fr 52px;
  gap: 8px;
}

#filterpanel-pagecatalog__houseplans {
  grid-column: 1 / 2;
  background-color: #F8FAFD;
  padding: 20px;
}

#content-pagecatalog__houseplans {
  grid-column: 2 / 3;
}

#lays-sorting-toggle__houseplans {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid $border-light-color;
  border-radius: 1px;
  min-height: 46px;
  max-height: max-content;
}

.wrap-cardlays {
  display: flex;
  flex-grow: 1;
}

.wrap-cardsorting {
  display: flex;
}

.wrap-cardviewtoggle {
  display: flex;
}

#product-card__houseplans {
  background-color: $background-color;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

#sidebar-tools__global {
  grid-column: 3 / 4;
  background-color: #F8FAFD;
}

#additional-container {}

#footer-container {}
