<div class="page-container">

  <!-- Advertising section above the header -->
  <aside class="ad-container">
  </aside>

  <!-- Header -->
  <header id="header-container">
    <app-header-global></app-header-global>
  </header>

  <!--  Advertising section below the header
      <aside id="ad-container">
  </aside>
  -->

  <!-- Breadcrumb navigation -->
  <nav id="breadcrumbs-container">
    <app-breadcrumb-global></app-breadcrumb-global>
  </nav>

  <!-- Main content -->
  <main id="main-container__houseplans">
    <div id="filterpanel-pagecatalog__houseplans"><app-filtercard-page-catalog-houseplans></app-filtercard-page-catalog-houseplans>

    </div>

    <div id="content-pagecatalog__houseplans">

      <div id="lays-sorting-toggle__houseplans">



        <div class="wrap-cardlays">
          <app-chipsfilter-page-catalog-houseplans></app-chipsfilter-page-catalog-houseplans>
        </div>


        <div class="wrap-cardsorting">
          <app-cardsorting-page-catalog-houseplans></app-cardsorting-page-catalog-houseplans>
        </div>

        <div class="wrap-cardviewtoggle">
          <app-cardviewtoggle-page-catalog-houseplans></app-cardviewtoggle-page-catalog-houseplans>
        </div>

      </div>


      <div id="product-card__houseplans">
        <app-productcard-page-catalog-houseplans></app-productcard-page-catalog-houseplans>
        <app-productcard-page-catalog-houseplans></app-productcard-page-catalog-houseplans>
        <app-productcard-page-catalog-houseplans></app-productcard-page-catalog-houseplans>
        <app-productcard-page-catalog-houseplans></app-productcard-page-catalog-houseplans>
        <app-productcard-page-catalog-houseplans></app-productcard-page-catalog-houseplans>
        <app-productcard-page-catalog-houseplans></app-productcard-page-catalog-houseplans>
      </div>
    </div>
    <div id="sidebar-tools__global">sidebar</div>



  </main>

  <!-- Left sidebar  -->

  <!-- Right sidebar -->

  <!-- Additional content -->
  <section class="additional-container">
    <!--<app-viewed-products></app-viewed-products>-->
  </section>


  <!-- Footer -->
  <footer id="footer-container">
    <!-- < <app-footer-global></app-footer-global>-->
  </footer>

  <app-info-modal-global *ngIf="currentModalId === 'infoModal'"></app-info-modal-global>
  <app-rating-modal-global *ngIf="currentModalId === 'ratingModal'"></app-rating-modal-global>



</div>
