<div class="page-container">

  <!-- Header -->
  <header id="header-container">
    <app-header-global></app-header-global>
  </header>

  <!-- Сontent container -->
  <main id="content-container">

    <!-- Advertising section above the header -->
    @if (bannerVisible) {
    <aside>
      <app-banner-page-catalog-houseplans></app-banner-page-catalog-houseplans>
    </aside>
    }

    <!-- Breadcrumb navigation -->
    <nav id="breadcrumbs-container">
      <app-breadcrumb-global></app-breadcrumb-global>
    </nav>

    <!-- Main content -->
    <section id="main-container__houseplans">

      <!-- Filter panel -->
      <div id="filterpanel-pagecatalog__houseplans">
        <app-filtercard-page-catalog-houseplans></app-filtercard-page-catalog-houseplans>
      </div>

      <!-- Content container -->
      <div id="content-pagecatalog__houseplans">

        <!-- Sorting and view toggle -->
        <div id="lays-sorting-toggle__houseplans">

          <div class="wrap-cardlays">
            <app-chipsfilter-page-catalog-houseplans></app-chipsfilter-page-catalog-houseplans>
          </div>

          <div class="wrap-cardsorting">
            <app-cardsorting-page-catalog-houseplans></app-cardsorting-page-catalog-houseplans>
          </div>

          <div class="wrap-cardviewtoggle">
            <app-cardviewtoggle-page-catalog-houseplans></app-cardviewtoggle-page-catalog-houseplans>
          </div>

        </div>

        <!-- Product cards -->
        <div id="product-card__houseplans">

          <div class="">
            <app-productcard-page-catalog-houseplans></app-productcard-page-catalog-houseplans>
          </div>

          <div class="">
            <app-productcard-page-catalog-houseplans></app-productcard-page-catalog-houseplans>
          </div>

        <div *ngIf="isVisible" (click)="onClosehelpcard()">
          <app-personalhelpcard-page-catalog-houseplans></app-personalhelpcard-page-catalog-houseplans>
        </div>

          <div class="">
            <app-productcard-page-catalog-houseplans></app-productcard-page-catalog-houseplans>
          </div>

          <div class="">
            <app-productcard-page-catalog-houseplans></app-productcard-page-catalog-houseplans>
          </div>

          <div class="">
            <app-productcard-page-catalog-houseplans></app-productcard-page-catalog-houseplans>
          </div>

        </div>

      </div>

      <!-- Sidebar tools -->
      <div id="sidebar-tools__global">sidebar</div>

    </section>

    <!-- Additional content -->
    <section class="additional-container">
      <!--<app-viewed-products></app-viewed-products>-->
    </section>

    <!-- Modals -->

    @if (currentModalId === 'infoModal') {
    <app-info-modal-global></app-info-modal-global>
    }

    @if (currentModalId === 'ratingModal') {
    <app-rating-modal-global></app-rating-modal-global>
    }


  </main>

  <!-- Footer -->
  <footer id="footer-container">
    <!-- <app-footer-global></app-footer-global>-->
  </footer>

</div>
