<div id="wrap-password-createaccountmodal__global">

  <div class="password-global">

    <div class="text-password">
      <p>Password</p>
    </div>

    <div class="input-password">
      <input id="input-password" type="search" autocomplete="off" spellcheck="false" role="combobox"
        aria-controls="matches" placeholder="At least 8 characters" aria-expanded="false" aria-live="polite">
    </div>

    <div class="requirements-password">
      <i class="material-icons icon-requirements">info</i>
      <div class="text-requirements">
        <p>Passwords must be at least 8 characters</p>
        <p>Mix of letters and number</p>
        <p>At least 1 special character</p>
        <p>At least 1 lowercase letter and 1 uppercase letter</p>
      </div>
    </div>


    <div class="text-reenterpassword">
      <p>Re-enter password</p>
    </div>

    <div class="input-password">
      <input id="input-reenterpassword" type="search" autocomplete="off" spellcheck="false" role="combobox"
        aria-controls="matches" placeholder="" aria-expanded="false" aria-live="polite">
    </div>

  </div>
</div>
