<div class="dataenergy-grid">

  <div class="dataenergy-grid-item">
    <div class="name-dataenergy-grid-item">Payment
      <div class="value-dataenergy-grid-item">0</div>
    </div>
  </div>

  <div class="dataenergy-grid-item">
    <div class="name-dataenergy-grid-item">Consumption
      <div class="value-dataenergy-grid-item">860 kWh</div>
    </div>
  </div>

  <div class="dataenergy-grid-item">
    <div class="name-dataenergy-grid-item">Generation
      <div class="value-dataenergy-grid-item">2410 kWh</div>
    </div>
  </div>

  <div class="dataenergy-grid-item">
    <div class="name-dataenergy-grid-item">Solar Station
      <div class="value-dataenergy-grid-item">3 kWh</div>
    </div>
  </div>

</div>
