<div class="page-container">

  <!-- Advertising section above the header -->
  <aside class="ad-container">
  </aside>

  <!-- Header -->
  <header id="header-container">
    <app-header-global></app-header-global>
  </header>

  <!--  Advertising section below the header
      <aside id="ad-container">
  </aside>
  -->

  <!-- Breadcrumb navigation -->
  <nav id="breadcrumbs-container">
    <app-breadcrumb-global></app-breadcrumb-global>
  </nav>

  <!-- Main content -->
  <main id="main-container__houseplans">

    <p>page-product-houseplans works!</p>
    <br>
    <p>page-product-houseplans works!</p>



  </main>

  <!-- Left sidebar  -->

  <!-- Right sidebar -->

  <!-- Additional content -->
  <section class="additional-container">
    <!--<app-viewed-products></app-viewed-products>-->
  </section>


  <!-- Footer -->
  <footer id="footer-container">
    <!-- < <app-footer-global></app-footer-global>-->
  </footer>





</div>

