<div id="wrap-ern-createaccountnmodal__global">

  <div class="ern-global">


    <div class="search-ern">

      <div class="select-ern">
        <i class="material-icons icon-ern">check_box</i>
        <input id="input" type="search" autocomplete="off" spellcheck="false" role="combobox" aria-controls="matches"
          placeholder="Join Our Community & Earn with Us" aria-expanded="false" aria-live="polite">
        <i class="material-icons expand-ern">expand_more</i>
      </div>

      <div class="text-ern">
        Register for Free to Start Earning
      </div>



    </div>



  </div>

</div>