@import '../../../../../../../styles/styles';

/* ..................... */

.wrap-message {
  width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
}

.wrap-message:hover .icon-message {
  color: $accent-color;
}

.wrap-message:hover {
  border: 1px solid white;
  border-radius: 2px;
}


.wrap-message:hover .reviews-message {
  color: $accent-color;
}

.icon-message {
  color: white;
  font-size: 18px;
}

.name-icon-message a {
  font-size: 13px;
  color: rgb(46, 45, 45)
}

.reviews-message {
  font-size: 12px;
  color: white;
  position: relative;
  bottom: 10px;
}