<div class="wrap-geolocation-bottom-header__global">

 

  <div>
    <i class="material-icons icon-geolocation">location_on</i>
  </div>

  <div class="name-icon-geolocation">
  </div>

  <div class="sorting">
    <select class="dropdown-sorting" name="format">
      <option class="item-sorting" value="popular">- Select State -</option>      
      <option class="item-sorting" value="reviews">Arizona</option>
      <option class="item-sorting" value="reviews">Boston</option>
      <option class="item-sorting" value="reviews">.....other</option>
    </select>
  </div>

  <div class="vertical-divider">|</div>

</div>