@import '../../../../../../../styles/styles';

/* ..................... */

.wrap-geolocation-bottom-header__global {
  width: auto;
  position: static;
  float: none; 
  display: flex;
  justify-content: flex-end;
}

.wrap-geolocation-bottom-header__global:hover .name-icon-geolocation {
  color: $accent-color;
}

.wrap-geolocation-bottom-header__global:hover .material-icon-arrow {
  color: $accent-color;
}

.icon-geolocation {
  margin-top: 1px;
  font-size: 16px;
  color: #da4848;
}

.icon-arrow {
  margin-top: 2px;
  font-size: 18px;
  color: #706f6f;
}

.name-icon-geolocation a {
  color: inherit;
  margin-left: 2px;
  font-size: 13px;
  font-style: $font-style-italic;
  color: $link-color;
  margin-right: 1px;
}


.vertical-divider {
  list-style: none;
  padding: 0;
  color: #ccc;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 10px;
  display: inline;
}



.region-select-container {
  margin-left: 16px;
}

.sorting {
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: -3px;  
  box-sizing: border-box;
  color: blue;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;  
  font-weight: 600;
  max-width: 100%;
  overflow: hidden; 
  padding-right: 6px;
  text-align: left;     
}

.sorting:hover {
  color: rgb(0, 102, 204);
    /* Более яркий синий при наведении */
}

.dropdown-sorting {
  border: none;
  cursor: pointer;
  padding: 0 5px;
}

.dropdown-sorting:focus {
  outline: none;
}

.dropdown-sorting:hover {
  color: rgb(0, 102, 204);
    /* Цвет текста при наведении */
  
}

.item-sorting {}

.sorting select {
  color: blue;
  /* Синий цвет текста для опций */
  font-weight: 500;
  /* Толщина шрифта для опций */
  background-color: white;
  /* Белый фон для опций */
  cursor: pointer;
  font-style: italic;
}




