@import '../../../../../../../styles/styles';

/* ..................... */

.wrap-services {
  width: auto;
    height: 44px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;    
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 0 10px;
}

.wrap-services:hover {
  color: #ec7210;
  border: 1px solid white;
    border-radius: 2px;
}

.icon-view {
  font-size: 22px;
}

.icon-name {
  margin-left: 4px;
  font-size: 14px;
}

.services-submenu-header__global {}
