<div class="wrap-customerservice-bottom-header__global">
  <div class="name-customerservice">


    <div class="name-customerservice-1">

      <button mat-button [matMenuTriggerFor]="menu" class="name-customerservice-1">
        Customer services
      </button>

      <mat-menu #menu="matMenu" class="mat-menu-1" [yPosition]="yPosition">

        <button mat-menu-item class="">
          Architects / Sell your houseplans
        </button>

        <button mat-menu-item class="">
          Builders / Provide services
        </button>

        <button mat-menu-item class="">
          Suppliers / Sell materials
        </button>

        <button mat-menu-item class="">
          Shops / Increase your sales
        </button>

        <button mat-menu-item class="">
          Investors / Earn with us
        </button>

        <button mat-menu-item class="">
          Clients / Save money and time
        </button>







      </mat-menu>

    </div>


    <div class="material-icons   icon-arrow "><span class="material-icon-arrow">
        <span class="material-icon-arrow">
          <span class="material-icon-arrow">
            arrow_drop_down
          </span>
        </span>
      </span></div>


    <div class="vertical-divider">|</div>


  </div>
</div>




<!--

<div class="name-customerservice-1">

  <button mat-button [matMenuTriggerFor]="menu" class="name-customerservice-1">
    Customer services
  </button>

  <mat-menu #menu="matMenu" class="mat-menu-1">

    <button mat-menu-item class=""> <mat-icon>home</mat-icon>
      Architects / Sell your houseplans
    </button>

    <button mat-menu-item class=""> <mat-icon>builders</mat-icon>
      Item 2
    </button>

    <button mat-menu-item class="">
      Item 3
    </button>

  </mat-menu>

</div>
-->
