<div id="wrap-socialaccoutns-createaccountmodal__global">

  <div class="socialaccoutns">
    <div class="connect-socialaccoutns">
      Or create account with:
    </div>
  </div>

  <div class="button-socialaccoutns">
    <i class="material-icons icon-google">account_circle</i>
    <button class="text-socialaccoutns">
      Continue with Google
    </button>
  </div>


  <div class="button-socialaccoutns">
    <i class="material-icons icon-apple">apple</i>
    <button class="text-socialaccoutns">
      Continue with Apple
    </button>

  </div>

  <div class="button-socialaccoutns">
    <i class="material-icons icon-facebook">facebook</i>
    <button class="text-socialaccoutns">
      Continue with Facebook
    </button>
  </div>




</div>
