<div class="wrap-department-bottom-header__global">
  <nav class="info-fill-bottom-header">
    <ul class="list-fill-bottom-header">

      <li class="link-fill-bottom-header">
        <a title="" rel="nofollow" data-domdot="" routerLink="/houseplans" data-p4plog="">Houseplans</a>
      </li>

      <li class="temporarily">
        <p>Builders</p>
      </li>

        <li class="temporarily">
          <p>Suppliers</p>
        </li>

      <li class="temporarily">
        <p>Architects & Designers</p>
      </li>

        <div class="vertical-divider">|</div>


      <li class="temporarily">
        <p>Homes Shop</p>
      </li>

    </ul>
  </nav>
</div>
