@import '../../../../../../../styles/styles';

/* ..................... */


.wrap-department-bottom-header__global {
  display: flex;
  width: auto;
  justify-content: flex-start;
  margin-top: -4px;
}

.info-fill-bottom-header {
  text-align: center;
}

.list-fill-bottom-header {
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
  /* Добавлено для выравнивания по центру */
}

.list-fill-bottom-header li {
  text-align: center;
  margin-right: 20px;
  display: flex;
  align-items: center;
  /* Добавлено для выравнивания содержимого */
  height: 100%;
  /* Устанавливает одинаковую высоту */
}

.link-fill-bottom-header a,
.temporarily p {
  display: inline-block;
  /* Убедитесь, что элементы внутри li отображаются как inline-block */
  margin: 0;
  padding: 0;
  height: 100%;
  /* Устанавливает одинаковую высоту */
  line-height: 1.5;
  /* Убедитесь, что высота строки одинакова */
  vertical-align: middle;
  /* Вертикальное выравнивание по середине */
}

.link-fill-bottom-header a {
  color: $accent-color;
  text-decoration: underline;
}

.temporarily {
  color: #d8d8d8;
}

.temporarily p {
  cursor: default;
  margin: 0;
  /* Убедитесь, что нет внешних отступов */
  padding: 0;
  /* Убедитесь, что нет внутренних отступов */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content.show {
  display: block;
  position: absolute;
}

.list-fill-bottom-header {
  position: relative;
}

.list-fill-bottom-header li {
  position: relative;
  display: inline-block;
}

.list-fill-bottom-header li:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e6afaf;
  width: 100vw;
  /* Используйте ширину всего экрана */
  left: 0;
  /* Выравнивание по левой границе экрана */
  top: 100%;
  /* Позиционирование под пунктом меню */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
