<div class="wrap-department-bottom-header__global">
  <nav class="info-fill-bottom-header">
    <ul class="list-fill-bottom-header">

      <li class="link-fill-bottom-header">
        <a title="" rel="nofollow" data-domdot="" routerLink="/houseplans" data-p4plog="">Houseplans</a>
      </li>

      <li class="temporarily" routerLink="/landexperts">
        <p>Land Experts </p>
      </li>

      <li class="temporarily" routerLink="/permitting">
        <p>Permit Assistance</p>
      </li>

      <li class="temporarily" routerLink="/builders">
        <p>Builders</p>
      </li>

      <li class="temporarily" routerLink="/suppliers">
        <p>Suppliers</p>
      </li>

      <li class="temporarily" routerLink="/architects">
        <p>Architects</p>
      </li>

      <div class="vertical-divider">|</div>

      <li class="temporarily" routerLink="/homesshop">
        <p>Homes Shop</p>
      </li>

      <div class="vertical-divider">|</div>

      <li class="temporarily" routerLink="/financing">
        <p>Financing</p>
      </li>

    </ul>
  </nav>
</div>
